
.modal


  &-dialog
    // Modal sizes: SM-small, MD-medium
    &-sm
      width: 460px
    &-md
      width: 760px

  &-content
    overflow: hidden

  &-header
    padding: 20px 20px 25px
    //---
    border-bottom: 0

    // Close Button
    .close
      display: block
      float: right

      // reset button and default style
      font-size: 0
      border: 0
      margin: 0
      background-color: transparent

      // image
      +sprite(cross, true)


  &-title
    margin-top: 25px
    //---
    +font-size(24px, false)
    line-height: (18 / 24)
    font-weight: bold

    text-align: center

  &-body
    padding: 0 30px 30px


  &-substrate
    margin:
      left: -30px
      right: -30px
    padding: 15px 30px
    //---
    background: #fbfaf8

    &:last-child
      padding-bottom: 35px
      margin-bottom: -30px
