
.login-popover-container
  position: relative

  .popover
    left: 0 !important
    width: 200px
    //---
    border-color: $base-ui-color
    border-radius: $border-radius-base
    +box-shadow(0 2px 7px rgba(0,0,0,.5))

    .arrow
      left: 34%

    &-content
      padding: $half-spacing-unit

      .alt
        margin-top: .1em
      .rule
        margin: .3em 0 .7em


.popover
  &--gray
    border-radius: $border-radius-base
    +box-shadow(0 2px 7px rgba(0,0,0,.5))
    border: 0

    $color: #f2f0eb
    background: $color

    &.bottom > .arrow
      &, &:after
        border-bottom-color: $color
