
.flexslider--default {
  position: relative;

  .slides {
    z-index: 90;

    &,
    & > li {
      position: relative;
      height: 100%;
    }

  }

  .flex-control-nav,
  .flex-direction-nav {
    z-index: 100;
  }

  // Override default Paging/Direction
  .flex-control-paging {
    bottom: 7px;
  }
  .flex-control-paging a {
    width: 11px;
    height: 11px;
    //---
    @include box-shadow(none);
    border: 1px solid #fff;
    background: transparent;
  }
  .flex-control-paging a.flex-active {
    background: #fff;
  }

  .flex-control-nav li {
    margin: 0 3px;
  }
  .flex-direction-nav a {
    top: 50%;
    margin: -25px 0 0 0;
    //---
    z-index: 100;
    opacity: 1;
    text-indent: 1000px;
    overflow: hidden;
    @include transition(none);

    &:before {
      display: none;
    }

    &:focus {
      outline: 0;
    }
  }
  .flex-prev {
    @include sprite('carousel-prev');
    left: 10px;
  }
  .flex-next {
    @include sprite('carousel-next');
    right: 10px;
  }
}


.flexslider--mini {
  width: 280px;
  min-height: 42px;
  margin: auto;

  .flex-direction-nav a {
    margin-top: -24px;
  }
  .flex-prev {
    @include sprite('carousel-prev-02', true);
    left: -16px;
  }
  .flex-next {
    @include sprite('carousel-next-02', true);
    right: -10px;
  }

  .slides img {
    border: 1px solid $base-ui-color;
    border-radius: $border-radius-base;
  }
}