

.search-results
  +reset-list-style
  position: absolute
  z-index: 999
  margin: 0
  max-width: 400px
  //---
  border: 1px solid #d0cfcb
  background: #fff
  border-radius: 5px
  +box-shadow(0 0 4px rgba(0, 0, 0, .4))


  &__image
    max-width: 100%

  &__title
    font-weight: bold

  &__description
    +font-size(12px, false)
    color: #999

  &__item
    padding: $half-spacing-unit
    cursor: pointer

    border-bottom: 1px solid #d0cfcb
    &:last-child
      border-bottom: 0

  &__table
    margin: 0
    td
      padding: 0
      &.preview
        width: 62px
      &.info
        padding-left: $half-spacing-unit

  &__item:hover &__title
    color: $brand-color
