
a {
  text-decoration: none;
}


.b-link {
  @include transition(all 300ms ease);
  color: $brand-color;
  text-decoration: underline;
  &:hover {
    color: darken($brand-color, 5%);
  }

  &--inherit {
    color: inherit;
  }

  &--no-decor {
    text-decoration: none;
  }

  &--decor {
    text-decoration: underline;
  }

  &--dashed {
    text-decoration: none;
    border-bottom: 1px dashed;

    &:hover {
      text-decoration: none;
      border-bottom-style: solid;
    }
  }

  &--muted {
    color: #999;
    &:hover {
      color: #666;
    }
  }

  &--default {
    $color: #55a0cb;
    color: $color;

    &:hover {
      color: darken($color, 5%);
    }
  }

  &--plain {
    color: inherit;

    &:hover {
      color: $brand-color;
    }
  }

}