<div class="text--center">
  Вы можете войти с помощью:

  <ul class="oauth-list push-half--top"><!--
    --><li><a href="#" class="icon-oauth-tw"></a></li><!--
    --><li><a href="#" class="icon-oauth-fb"></a></li><!--
    --><li><a href="#" class="icon-oauth-vk"></a></li><!--
    --><li><a href="#" class="icon-oauth-mm"></a></li>
  </ul>
</div>

<div class="modal-substrate push-double--top">
  <p class="text--center">Или как пользователь сайта:</p>

  <div style="width: 600px; margin: auto">
    <div class="row">

      <div class="col-xs-6">

        <div class="form-horizontal">
          <div class="form-group">
            <label for="email" class="control-label col-xs-3">E-mail:</label>
            <div class="col-xs-9">
              <input type="text" class="form-control input-block-level" id="email"/>
            </div>
          </div>
        </div>

      </div>
      <div class="col-xs-6">

        <div class="form-horizontal">
          <div class="form-group">
            <label for="password" class="control-label col-xs-3">Пароль:</label>
            <div class="col-xs-9">
              <input type="text" class="form-control input-block-level" id="password"/>
            </div>
          </div>
        </div>

      </div>

    </div><!-- /row -->
  </div>

  <div class="text--center push--top">
    <button type="submit" class="btn btn-lg btn-warning"><b>Войти</b></button>
  </div>

  <ul class="list-auth-help push--top">
    <li class="text--right">
      <a href="#" class="b-link b-link--default">Я хочу зарегистрироваться</a>
    </li><!--
    --><li>
      <a href="#" class="b-link b-link--default">Я не помню пароль</a>
    </li>
  </ul>

</div>
