
<!-- Список товаров -->
<div class="push-double--bottom">

  <table class="order-table">
    <tr>
      <td></td>
      <td></td>
      <td class="muted smallprint">Количество</td>
      <td class="muted smallprint">Стоимость</td>
      <td></td>
    </tr>

    <!-- Item -->
    <tr>
      <td class="order-table__image">
        <img src="../assets/images/tmp/cart-item.png" alt=""/>
      </td>
      <td class="order-table__name">
        <a href="#" class="b-link--plain">Регулировочный стаканчик клапановразмер от 5.12 до 5.48 FAW</a>
      </td>

      <td class="order-table__qty">

        <div class="b-qty-switcher">
          <div class="b-qty-switcher__btn">-</div>
          <div class="b-qty-switcher__value">5</div>
          <div class="b-qty-switcher__btn">+</div>
        </div>
        <span class="smallprint muted">шт.</span>

      </td>

      <td class="order-table__price">
        <b class="beta">51 990</b> <em>руб.</em>
      </td>

      <td class="order-table__remove">
        <a href="#" class="icon-remove"></a>
      </td>
    </tr>

    <!-- Item -->
    <tr>
      <td class="order-table__image">
        <img src="../assets/images/tmp/cart-item.png" alt=""/>
      </td>
      <td class="order-table__name">
        <a href="#" class="b-link--plain">Регулировочный стаканчик клапановразмер от 5.12 до 5.48 FAW</a>
      </td>

      <td class="order-table__qty">

        <div class="b-qty-switcher">
          <div class="b-qty-switcher__btn">-</div>
          <div class="b-qty-switcher__value">5</div>
          <div class="b-qty-switcher__btn">+</div>
        </div>
        <span class="smallprint muted">шт.</span>

      </td>

      <td class="order-table__price">
        <b class="beta">51 990</b> <em>руб.</em>
      </td>

      <td class="order-table__remove">
        <a href="#" class="icon-remove"></a>
      </td>
    </tr>

    <!-- Total -->
    <tr class="order-table__total">
      <td colspan="3" class="muted text--left">Итого к оплате:</td>
      <td colspan="2" class="text--left success-text">
        <b class="alpha">51 990</b> <em>руб.</em>
      </td>
    </tr>
  </table>

</div>

<div class="modal-substrate push-double--top">

  <div class="push--bottom">
    Заполните форму или <a href="#" class="b-link--default b-link--dashed">авторизуйтесь</a>
  </div>

  <!-- Способы оплаты -->
  <div class="push--bottom">
    <div class="control-label">Выберите способ оплаты:</div>

    <ul class="options-list">
      <!-- Способ оплаты №1 -->
      <li>
        <input type="radio" name="billing" id="billing_1" class="form-control" /><label for="billing_1"></label>
        <label for="billing_1" class="checkbox-inline">
          Наличными
          <span class="smallprint muted">(Клиент сам забирает товар в одном из наших магазинов)</span>
        </label>
      </li>

      <!-- Способ оплаты №2 -->
      <li>
        <input type="radio" name="billing" id="billing_2" class="form-control" /><label for="billing_2"></label>
        <label for="billing_2" class="checkbox-inline">
          Безналичный расчет
          <span class="smallprint muted">(Возможен при любом способе отправки)</span>
        </label>
      </li>

      <!-- Способ оплаты №3 -->
      <li>
        <input type="radio" name="billing" id="billing_3" class="form-control" /><label for="billing_3"></label>
        <label for="billing_3" class="checkbox-inline">
          Наложенный платеж
          <span class="smallprint muted">(При отправке по Почте)</span>
        </label>
      </li>

      <!-- Способ оплаты №4 -->
      <li>
        <input type="radio" name="billing" id="billing_4" class="form-control" /><label for="billing_4"></label>
        <label for="billing_4" class="checkbox-inline">
          На карту
          <span class="smallprint muted">(Перевод денежных средств на пластиковую карту. Возможен при любом способе отправки)</span>
        </label>
      </li>
    </ul>

  </div>


  <!-- Способы доставки -->
  <div class="push-double--bottom">
    <div class="control-label">Выберите способ доставки:</div>

    <ul class="options-list">
      <!-- Способ доставки №1 -->
      <li>
        <input type="radio" name="delivery" id="delivery_1" class="form-control" /><label for="delivery_1"></label>
        <label for="delivery_1" class="checkbox-inline">
          Самовывоз
        </label>
        <div class="option-indent smallprint muted">
          (Забрать товар вы можете в любом из наших магазинов с 9:00-18:00)
        </div>
      </li>

      <!-- Способ доставки №2 -->
      <li>
        <input type="radio" name="delivery" id="delivery_2" class="form-control" /><label for="delivery_2"></label>
        <label for="delivery_2" class="checkbox-inline">
          Доставка Почтой
        </label>
        <div class="option-indent smallprint muted">
          (К отправке почтой НЕ ПРИНИМАЮТСЯ крупногабаритные запчасти (Крылья, Бампера, Двери и тд). Они отправляются ТОЛЬКО Транспортными Компаниями)
        </div>
      </li>

      <!-- Способ доставки №3 -->
      <li>
        <input type="radio" name="delivery" id="delivery_3" class="form-control" /><label for="delivery_3"></label>
        <label for="delivery_3" class="checkbox-inline">
          Транспортная компания
        </label>
        <div class="option-indent smallprint muted">
          (Отправка производится после оплаты клиентом счета. В комментариях к заказу необходимо указать паспортные данные, для получения Вами груза в терминале)
        </div>
      </li>

      <!-- Способ доставки №4 -->
      <li>
        <input type="radio" name="delivery" id="delivery_4" class="form-control" /><label for="delivery_4"></label>
        <label for="delivery_4" class="checkbox-inline">
          Автобусом
        </label>
        <div class="option-indent smallprint muted">
          (Минимальная сумма заказа 5000 руб.)
        </div>
      </li>
    </ul>

  </div>



  <!-- Выбор города -->
  <div class="push--bottom">
    <span class="control-label">Ваш город:</span>

    <span class="context">
      <a href="#" class="b-link--default b-link--dashed" ng-click="citySelect = !citySelect">Казань</a>

      <div class="b-city-select b-city-select--abs" ng-if="citySelect">

        <form class="b-city-select__form">
          <input type="text" class="search-query form-control input-sm input-block-level"/>
        </form>

        <div class="b-city-select__wrapper">
          <ul class="b-city-select__list">
            <li>
              <b>Алтайский край</b>
              <ul>
                <li><a href="#">Барнаул</a></li>
                <li><a href="#">Бийск</a></li>
                <li><a href="#">Новоалтайск</a></li>
                <li><a href="#">Рубцовск</a></li>
              </ul>
            </li>
            <li>
              <b>Амурская область</b>
              <ul>
                <li><a href="#">Благовещенск</a></li>
              </ul>
            </li>
            <li>
              <b>Архангельская область</b>
              <ul>
                <li><a href="#">Архангельск</a></li>
                <li><a href="#">Северодвинск</a></li>
              </ul>
            </li>
            <li>
              <b>Архангельская область</b>
              <ul>
                <li><a href="#">Архангельск</a></li>
                <li><a href="#">Северодвинск</a></li>
              </ul>
            </li>
            <li>
              <b>Архангельская область</b>
              <ul>
                <li><a href="#">Архангельск</a></li>
                <li><a href="#">Северодвинск</a></li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </span>
  </div>

  <!-- Форма оформления заказа -->
  <div class="form-register">

    <div class="form-horizontal">

      <!-- Имя -->
      <div class="form-group">
        <label class="control-label text--left col-xs-3">Имя</label>
        <div class="col-xs-8">
          <input type="text" class="form-control input-block-level"/>
          <div class="error-tooltip">
            <span class="error-tooltip__text">Это обязательное поле.</span>
          </div>
        </div>
      </div>

      <!-- Фамилия -->
      <div class="form-group">
        <label class="control-label text--left col-xs-3">Фамилия</label>
        <div class="col-xs-8">
          <input type="text" class="form-control input-block-level"/>
        </div>
      </div>

      <!-- Отчество -->
      <div class="form-group">
        <label class="control-label text--left col-xs-3">Отчество</label>
        <div class="col-xs-8">
          <input type="text" class="form-control input-block-level"/>
        </div>
      </div>

      <!-- Адрес -->
      <div class="form-group">
        <label class="control-label text--left col-xs-3">Адрес</label>
        <div class="col-xs-8">
          <input type="text" class="form-control input-block-level"/>
        </div>
      </div>

      <!-- Почтовый индекс -->
      <div class="form-group">
        <label class="control-label text--left col-xs-3 nowrap">Почтовый индекс</label>
        <div class="col-xs-4">
          <input type="text" class="form-control input-block-level"/>
        </div>
      </div>

      <!-- E-mail -->
      <div class="form-group">
        <label class="control-label text--left col-xs-3">E-mail</label>
        <div class="col-xs-8">
          <input type="text" class="form-control input-block-level"/>
        </div>
      </div>

      <!-- Телефон -->
      <div class="form-group">
        <label class="control-label text--left col-xs-3">Телефон</label>
        <div class="col-xs-4">
          <div class="placeholder-permanent" placeholder="+7">
            <input type="text" class="form-control input-block-level phone-input"/>
          </div>
          <div class="error-tooltip error-tooltip--md">
            <span class="error-tooltip__text">Номер может содержать только цифры, +, -, (, )и содержать от 9 до 16 цифр</span>
        </div>
        </div>
      </div>

    </div><!-- end of .form-horizontal -->


    <div class="row">
      <div class="col-xs-11">

        <!-- Комментарий к заказу -->
        <div class="form-group push--top">
          <label class="control-label weight--normal nowrap">Хотите, чтобы с вами связались по skype или сообщить дополнительные пожелания?</label>
          <textarea rows="4" class="form-control input-block-level" placeholder="Комментарий к заказу"></textarea>
        </div>

      </div>
    </div>

  </div><!-- end of .register-form -->

</div><!-- end of .substrate -->

<div class="push--top text--center">
  <label class="push-half--bottom">
    <input type="checkbox" class="form-control checkbox-inline"/>
    Я соглашаюсь с <a href="#" class="b-link--default">политикой конфиденциальности</a>
  </label>
  <button type="submit" class="btn btn-lg btn-warning"><b>Оформить заказ</b></button>

  <div class="push-half--top">
    <a href="#" class="b-link--muted b-link--decor">Продолжить покупки</a>
  </div>
</div>

