
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-md">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <div class="modal-body" ng-bind="content"></div>
    </div>
  </div>
</div>
