<div class="text--center">
  Вы можете войти с помощью:

  <ul class="oauth-list push-half--top"><!--
    --><li><a href="#" class="icon-oauth-tw"></a></li><!--
    --><li><a href="#" class="icon-oauth-fb"></a></li><!--
    --><li><a href="#" class="icon-oauth-vk"></a></li><!--
    --><li><a href="#" class="icon-oauth-mm"></a></li>
  </ul>
</div>

<div class="modal-substrate push-double--top">
  <div class="push--bottom">
    <span class="control-label">Ваш город:</span>
    <span class="context">
      <a href="#" class="b-link--default b-link--dashed" ng-click="citySelect = !citySelect">Казань</a>

      <div class="b-city-select b-city-select--abs" ng-if="citySelect">

        <form class="b-city-select__form">
          <input type="text" class="search-query form-control input-sm input-block-level"/>
        </form>

        <div class="b-city-select__wrapper">
          <ul class="b-city-select__list">
            <li>
              <b>Алтайский край</b>
              <ul>
                <li><a href="#">Барнаул</a></li>
                <li><a href="#">Бийск</a></li>
                <li><a href="#">Новоалтайск</a></li>
                <li><a href="#">Рубцовск</a></li>
              </ul>
            </li>
            <li>
              <b>Амурская область</b>
              <ul>
                <li><a href="#">Благовещенск</a></li>
              </ul>
            </li>
            <li>
              <b>Архангельская область</b>
              <ul>
                <li><a href="#">Архангельск</a></li>
                <li><a href="#">Северодвинск</a></li>
              </ul>
            </li>
            <li>
              <b>Архангельская область</b>
              <ul>
                <li><a href="#">Архангельск</a></li>
                <li><a href="#">Северодвинск</a></li>
              </ul>
            </li>
            <li>
              <b>Архангельская область</b>
              <ul>
                <li><a href="#">Архангельск</a></li>
                <li><a href="#">Северодвинск</a></li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </span>

  </div>

  <form class="form-horizontal form-register">

    <div class="form-group">
      <label class="control-label text--left col-xs-3">Имя</label>
      <div class="col-xs-8">
        <input type="text" class="form-control input-block-level"/>
        <div class="error-tooltip">
          <span class="error-tooltip__text">Это обязательное поле.</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label text--left col-xs-3">Фамилия</label>
      <div class="col-xs-8">
        <input type="text" class="form-control input-block-level"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label text--left col-xs-3">Отчество</label>
      <div class="col-xs-8">
        <input type="text" class="form-control input-block-level"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label text--left col-xs-3">Адрес</label>
      <div class="col-xs-8">
        <input type="text" class="form-control input-block-level"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label text--left col-xs-3 nowrap">Почтовый индекс</label>
      <div class="col-xs-4">
        <input type="text" class="form-control input-block-level"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label text--left col-xs-3">E-mail</label>
      <div class="col-xs-8">
        <input type="text" class="form-control input-block-level"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label text--left col-xs-3">Телефон</label>
      <div class="col-xs-4">
        <div class="placeholder-permanent" placeholder="+7">
          <input type="text" class="form-control input-block-level phone-input"/>
        </div>
        <div class="error-tooltip error-tooltip--md">
          <span class="error-tooltip__text">Номер может содержать только цифры, +, -, (, )и содержать от 9 до 16 цифр</span>
      </div>
      </div>
    </div>

  </form>

</div>

<div class="push--top text--center">
  <label class="push-half--bottom">
    <input type="checkbox" class="form-control checkbox-inline"/>
    Я соглашаюсь с <a href="#" class="b-link--default">политикой конфиденциальности</a>
  </label>
  <button type="submit" class="btn btn-lg btn-warning"><b>Зарегистрироваться</b></button>
</div>

