
<div class="modal-substrate">
  <form class="form-restore">
    <div class="form-group">
      <label for="email" class="control-label form-restore__label">Введите ваш E-mail:</label>
      <input type="text" class="form-control form-restore__field" id="email"/>
    </div>

    <button type="submit" class="btn btn-lg btn-warning form-restore__button"><b>Напомнить пароль</b></button>
  </form>
</div>
