<ul tabindex="-1" class="typeahead search-results" ng-show="$isVisible()" role="select">
  <li role="presentation" class="search-results__item" ng-repeat="match in $matches" ng-class="{active: $index == $activeIndex}">
    <div role="menuitem" tabindex="-1" ng-click="$select($index, $event)">
      <table class="search-results__table">
        <tr>
          <td class="preview" ng-show="match.value.image">
            <img ng-src="{{ match.value.image }}" class="search-results__image" />
          </td>
          <td class="info">
            <div class="search-results__title" ng-bind="match.value.value"></div>
            <div class="search-results__description" ng-bind="match.value.description"></div>
          </td>
        </tr>
      </table>
    </div>
  </li>
</ul>
