

.btn
  &:focus, &:active, &:focus:active
    outline: 0

.btn-lg
  border-radius: 2px
  +font-size(16px, false)

.btn-outline
  background: transparent
  border: 1px solid #dcdbd7



.callback
  padding: 6px 24px 7px 19px
  //---
  +transition(all 300ms ease)
  background: #fff
  border: 1px dashed #b7b7b7
  +font-size(14px, false)
  line-height: 1
  font-weight: bold
  color: #ed8f2a


  &:before
    content: ""
    display: inline-block
    vertical-align: middle
    margin-right: em(4px)
    +sprite('phone-in-motion')

  span
    vertical-align: middle

  &:focus
    outline: 0

  &:hover
    background: #f9f9f9


.btn-cart
  height: 100%
  //---
  background: $brand-success
  font-weight: bold

  &, &:hover, &:focus, &:focus:active
    color: #fff

  &[disabled]
    background: #adb1b4

  // icon
  &:before
    content: ""
    display: inline-block
    vertical-align: middle
    margin-right: .5em
    +sprite('cart')

  .caption
    vertical-align: middle


.btn-login
  height: 100%
  //---
  font-weight: bold

  // icon
  &:before
    content: ""
    display: inline-block
    vertical-align: middle
    margin-right: .5em
    +sprite('lock')

  // chevron
  &:after
    content: ""
    display: inline-block
    vertical-align: middle
    margin-left: .7em
    +sprite('chevron')

  .caption
    display: inline-block
    vertical-align: middle

  &.active
    border: 0
    background: #333
    color: #fff

    // invert icon
    &:before
      +sprite('lock-invert')

    // hide chevron
    &:after
      visibility: hidden

    &:focus
      outline: none


.btn-user-actions
  padding-left: $half-spacing-unit
  height: 100%
  //---
  background: transparent
  color: #999
  text-align: left
  +font-size(12px, false)
  line-height: (14 / 12)

  // chevron
  &:after
    content: ""
    display: inline-block
    vertical-align: middle
    margin-left: .7em
    +sprite('chevron')

  .caption
    display: inline-block
    vertical-align: middle

  .value
    color: #000
    text-decoration: underline

  &.active
    border: 0
    background: #333
    color: #fff

    // hide chevron
    &:after
      visibility: hidden

    &:focus
      outline: none

    .value
      color: inherit