
input[type="text"]
  &.form-control
    padding: 0 10px
    height: 34px

    border: 1px solid #dcdbd7
    border-radius: 1px

    &.input-sm
      height: 25px
      +font-size(13px, false)

  &.phone-input
    padding-left: 30px


textarea.form-control
  padding: 6px 10px
  //---
  border: 1px solid #dcdbd7
  border-radius: 1px


.input-block-level
  display: block
  width: 100%

.control-label
  margin-bottom: .3em
  //---
  color: #666
  +font-size(14px, false)
  font-weight: bold

.checkbox-inline
  display: inline-block
  vertical-align: middle

.placeholder-permanent
  position: relative
  &:before
    content: attr(placeholder)
    position: absolute
    top: 50%
    margin: -12px 0 0 0
    left: 10px
    //---
    color: #999


// Custom Option Input
input[type="radio"].form-control
  position: absolute
  z-index: -1000
  top: -1000px
  overflow: hidden
  clip: rect(0 0 0 0)
  height: 1px
  width: 1px
  margin: -1px
  padding: 0
  border: 0

  & + label
    display: inline-block
    vertical-align: middle
    margin-right: .2em
    //---
    line-height: 21px
    font-size: 21px
    cursor: pointer
    +sprite(option, true)

  &:checked + label
    +sprite(option_active)

.option-indent
  padding-left: 23px


.search-query
  padding-right: 20px
  background-image: image-url('sprite/lens-2.png')
  background-repeat: no-repeat
  background-position: 97% center
