
.figure-fixed
  margin-bottom: 0
  display: table
  margin:
    left: auto
    right: auto

  &__media
    display: table-cell
    vertical-align: middle
    img
      max-width: 100%
      display: block

  &--spare
    width: 200px
    height: 174px

  &--brand
    width: 100px
    height: 100px


.figure-description
  line-height: (16 / 12)

  &--spare
    .title
    .list
      +reset-list-style
      margin: .3em 0 .2em $half-spacing-unit
    .list, .more
      +font-size(12px, false)

  &--brand
    margin-top: .3em
    //---
    text-align: center
    +font-size(12px, false)
    color: #666
