
// Horizontal forms
//
// Horizontal forms are built on grid classes and allow you to create forms with
// labels on the left and inputs on the right.

.form-horizontal
  // Consistent vertical alignment of radios and checkboxes
  //
  // Labels also get some reset styles, but that is scoped to a media query below.
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline
    margin-top: 0
    margin-bottom: 0
    padding-top: $padding-base-vertical + 1

  // Default padding plus a border
  // Account for padding we're adding to ensure the alignment and of help text
  // and other content below items
  .radio,
  .checkbox
    min-height: $line-height-computed + $padding-base-vertical + 1

  // Make form groups behave like rows
  .form-group
    +make-row

  .form-control-static
    padding-top: $padding-base-vertical + 1
    padding-bottom: $padding-base-vertical + 1

  // Reset spacing and right align labels, but scope to media queries so that
  // labels on narrow viewports stack the same as a default form example.
  @media (min-width: $screen-sm-min)
    .control-label
      text-align: right
      margin-bottom: 0
      padding-top: $padding-base-vertical + 1

  // Default padding plus a border
  // Validation states
  //
  // Reposition the icon because it's now within a grid column and columns have
  // `position: relative;` on them. Also accounts for the grid gutter padding.
  .has-feedback .form-control-feedback
    top: 0
    right: $grid-gutter-width / 2


.form-group
  margin-bottom: $base-spacing-unit
  &:last-child
    margin-bottom: 0


.b-search-form
  +clearfix
  $context-width: 452px
  padding: 4px
  //---
  border-radius: 2px
  background: #ccc

  &__input
    float: left
    width: flex-width(412px, $context-width)
    height: 30px

  &__process
    float: left
    width: flex-width(40px, $context-width)
    //---
    text-align: center
    line-height: 30px


.b-input-mock
  padding: 0 9px
  height: 100%
  //---
  border-radius: 2px
  +box-shadow(inset 1px 1px 4px rgba(0,0,0,.1))
  background-color: #f9f9f8


  &__item
    float: left
    height: 100%

    &--selected
      width: flex-width(145px, 394px)
      //***
      overflow: hidden
      padding-top: 2px

      white-space: nowrap
      text-overflow: ellipsis

      .value
        +font-size(14px)
        font-weight: bold
        vertical-align: middle

    &--field

      .field
        height: 100%
        width: 100%
        +font-size(14px, false)

        // reset
        padding: 0
        border: 0
        background: transparent

        +placeholder-setup
          color: #ccc
          opacity: 1


    &--selected + &--field
      width: flex-width(236px, 394px)
      margin-left: 13px



.b-select-mock
  position: relative
  //z-index: 1
  padding: 0
  height: 34px
  //---
  border-radius: 2px
  background: #eee
  color: #333

  &__placeholder
    cursor: pointer
  &.disabled &__placeholder
    cursor: default

  &__placeholder
    padding: 10px 20px 10px 10px
    height: 100%
    overflow-x: hidden

    &:before
      content: ""
      position: absolute
      right: 10px
      top: 50%
      margin-top: -5px
      display: block
      +sprite('select-arrows')

    &__caption
      overflow-x: hidden
      //---
      white-space: nowrap
      text-overflow: ellipsis
      +font-size(14px, false)
      line-height: 1


  
  &__options
    display: none
  &.opened &__options
    display: block

  &__options
    position: absolute
    z-index: 10
    top: 110%
    left: 0
    width: 100%

    .panel
      margin: 0
      padding: 10px
      max-height: 200px
      overflow-y: auto
      //---
      +box-shadow(0 2px 7px rgba(0,0,0,.5))

      // hack
      &:after
        content: ""
        display: block
        height: 10px

      .panel-bleed
        margin:
          left: -10px
          right: -10px
        padding:
          left: 10px
          right: 10px


.form-register
  width: 610px
