
.nowrap
  white-space: nowrap

.full-height
  height: 100%

.context
  position: relative


// True vertical centring
.b-mid
  display: table
  height: 100%

  &--center
    margin:
      left: auto
      right: auto

  &__content
    display: table-cell
    vertical-align: middle



.push-double
  margin: $double-spacing-unit
.push-double--ends
  margin:
    top: $double-spacing-unit
    bottom: $double-spacing-unit
.push-double--top
  margin:
    top: $double-spacing-unit
.push-double--bottom
  margin:
    bottom: $double-spacing-unit

.soft-double
  padding: $double-spacing-unit
.soft-double--ends
  padding:
    top: $double-spacing-unit
    bottom: $double-spacing-unit
.soft-double--top
  padding:
    top: $double-spacing-unit
.soft-double--bottom
  padding:
    bottom: $double-spacing-unit
.soft-double--left
  padding:
    left: $double-spacing-unit

