
$icon-collection: (
  'lens', 'cross-circle', 'cart', 'lock', 'cart-mini' true, 'camera' true, 'remove' true,
  'oauth-tw', 'oauth-vk', 'oauth-mm', 'oauth-fb'
);

@each $icon in $icon-collection {

  $_icon: $icon;
  $_hover: false;
  $_active: false;

  @if type-of($icon) == list {
    $_icon: nth($icon, 1);
    @if length($icon) == 2 { $_hover: nth($icon, 2); }
    @if length($icon) == 3 { $_active: nth($icon, 3); }
  }

  $_icon: unquote($_icon);

  .icon-#{$_icon} {
    @include sprite($_icon, $_hover, $_active);
  }
}

i[class|="icon"],
a[class|="icon"] {
  display: inline-block;
  vertical-align: middle;
}

div[class|="icon"] {
  display: block;
}