
.root
  min-width: $container

.container
  min-width: $container !important
  max-width: $container !important
  width: $container !important


.padded
  padding:
    left: $half-spacing-unit
    right: $half-spacing-unit