
.phones-horizontal-list
  $item-gutter: 13px
  +inline-list-setup($gutter: $item-gutter)

  .number
    +font-size(16px, false)
    line-height: (18 / 16)
    font-weight: bold

  .target
    +font-size(12px, false)
    line-height: ( 18 / 12 )

  li.has-icon
    position: relative
    padding-left: 25px + $item-gutter

    &:before
      content: ""
      position: absolute
      top: -3px
      left: $item-gutter
      display: block
      +sprite('phone')

    &.invert:before
      +sprite('phone-invert')


.link-list
  +reset-list-style()
  margin:
    left: 0
    bottom: 0

  > li
    margin-bottom: 4px
    &:last-child
      margin-bottom: 0

  &--collapsed > li
    margin-bottom: 0

  > li > a
    //---
    color: inherit

    &:hover
      color: $brand-color
      text-decoration: underline

  .badge
    font-weight: normal
    background: #dcdbd7

.link-sublist
  +reset-list-style()
  margin:
    left: 0
    bottom: 0

  border-top: 1px solid #e5e5e5

  > li
    &:last-child
      margin-bottom: 0

  > li > a
    display: block
    //---
    color: #999
    +font-size(12px, false)
    line-height: (18 / 12)

    &:hover
      color: #555


.footer-link-list
  +reset-list-style
  margin:
    left: 0
    right: 0
  //---
  +font-size(13px, false)

  li
    margin-bottom: em(4px)
    &:last-child
      margin-bottom: 0

  a
    color: #979ea3
    &:hover
      text-decoration: underline

  &--light
    a
      color: #fff


.counters-list
  +inline-list-setup($gutter: 9px, $direction: right)



.card-list
  +reset-list-style
  margin:
    left: 0
    bottom: 0

  &__item,
  & > li
    margin-bottom: $half-spacing-unit

    &:last-child
      margin-bottom: 0

.oauth-list
  +inline-list-setup($gutter: 10px)

  & > li
    float: none
    display: inline-block


.list-auth-help
  +reset-list-style

  & > li
    display: inline-block
    padding: 0 10px
    width: 50%

.options-list
  +reset-list-style
  margin: 0

  & > li
    margin-bottom: .2em
    &:last-child
      margin-bottom: 0


