
@mixin placeholder-setup
  &::-webkit-input-placeholder
    @content

  &:-moz-placeholder
    @content

  &::-moz-placeholder
    @content

  &:-ms-input-placeholder
    @content


@mixin inline-list-setup($direction: left, $gutter: false)
  +reset-list-style()
  +clearfix()

  @if $gutter
    margin:
      left: -$gutter
      right: -$gutter
      bottom: 0
  @else
    margin:
      left: 0
      bottom: 0

  &__item,
  & > li
    float: $direction

    @if $gutter
      +box-sizing(content-box)
      padding:
        left: $gutter
        right: $gutter

@mixin width-setup($target, $context: $base-container)
  width: flex-width($target, $context)

