
.panel
  overflow: hidden


.panel-search
  padding: em(10px)
  //---
  border-radius: 2px
  background: $brand-color
  color: #fff

  &__heading
    margin: 0 0 $half-spacing-unit
    +font-size(15px, false)
    font-weight: bold

  select
    display: block
    width: 100%
    height: 34px

  .form-group
    margin-bottom: em(5px)


// Cat Panel
.panel--category

  // reset
  border: none
  .panel-group &
    border-radius: 0
  .panel-group & + &
    margin-top: 0
  .panel-heading
    border-radius: 0

  .panel-group &:first-child
    border-radius: 2px 2px 0 0
  .panel-group &:last-child
    border-radius: 0 0 2px 2px
  .panel-group &
    border: 1px solid #d0cfcb
  .panel-group & + &
    border-top: 0

  .panel-heading
    padding: 9px 10px 9px 17px
    height: 34px
    //---
    +transition(all 300ms ease)
    background: $brand-color
    color: #fff

    &:before
      content: ""
      float: right

    &.collapsed
      background: #f2f1ec
      color: #333

      &:hover
        background: #dcdbd7

    .panel-title
      +font-size(14px, false)
      font-weight: bold

    // Icons
    &:before
      +sprite('toggle-collapse')

    &.collapsed

      &:before
        +sprite('toggle')

      &:hover
        &:before
          +sprite('toggle_hover')

    &--no-panel
      &:before
        //content: none

      &.collapsed
        &:before
          +sprite('toggle-right')

        &:hover
          &:before
            +sprite('toggle-right_hover')

  .panel-body

.panel-group--collapse
  .panel-heading
    cursor: pointer