
.vendors-table
  width: 100%

  thead
    th
      background: $brand-color
      color: #fff
      +font-size(13px)
      font-weight: bold
    th:first-child
      border-radius: $border-radius-base 0 0 $border-radius-base
    th:last-child
      border-radius: 0 $border-radius-base $border-radius-base 0

  td
    padding: ($half-spacing-unit / 2) 7px
    border-bottom: 1px solid $base-ui-color
    //---
    color: #666
    +font-size(12px, false)


.order-table
  $width: 769

  &__image,
  &__name,
  &__qty,
  &__price,
  &__remove,
  &__image
    +box-sizing(content-box)
    padding:
      left: $half-spacing-unit
      right: $half-spacing-unit

    &:first-child
      padding-left: 0

    &:last-child
      padding-right: 0

  &__image
    width: percentage(80 / $width)

  &__name
    width: percentage(294 / $width)

  &__qty
    width: percentage(156 / $width)

  &__price
    width: percentage(138 / $width)

  &__remove
    width: percentage(21 / $width)

  tr td
    border-bottom: 1px solid #f7f6f2
  tr:last-child td
    border-bottom: 0

  &__total td
    padding:
      top: 1.5em
