<!DOCTYPE html>
<html lang="ru">
<head>
    <title></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../bower_components/flexslider/flexslider.css"/>
    <link rel="stylesheet" href="../assets/stylesheets/application.css"/>
    <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
</head>
<body ng-app="app" ng-controller="BaseController">

<div>
  <button type="button"
          data-title="Восстановление пароля"
          data-template="../assets/javascripts/views/modal-sm.html"
          data-content-template="../assets/javascripts/views/restore.html"
          bs-modal="modal">Восстановление пароля</button>
  <button type="button"
          data-title="Авторизация"
          data-template="../assets/javascripts/views/modal-md.html"
          data-content-template="../assets/javascripts/views/auth.html"
          bs-modal="modal">Авторизация</button>
  <button type="button"
          data-title="Регистрация"
          data-template="../assets/javascripts/views/modal-md.html"
          data-content-template="../assets/javascripts/views/register.html"
          bs-modal="modal">Регистрация</button>
  <button type="button"
          data-title="Корзина покупок"
          data-template="../assets/javascripts/views/modal-md.html"
          data-content-template="../assets/javascripts/views/cart.html"
          bs-modal="modal">Корзина</button>
</div>

<div class="root">

  <!-- Header -->
  <div class="b-header-wrapper">

    <!-- Header -->
    <header class="b-header">
      <div class="container">

        <!-- Logo -->
        <div class="b-header__item b-header__item--logo">
          <div class="b-logo"><a href="#" class="b-logo__image"></a></div>
        </div>

        <!-- Phones -->
        <div class="b-header__item b-header__item--phones">

          <ul class="phones-horizontal-list">
            <li class="has-icon">
              <div class="number">8 (800) 500-21-16</div>
              <div class="target">Звонок бесплатный</div>
            </li>
            <li>
              <div class="number">8 (927) 039-11-84</div>
              <div class="target">Александр</div>
            </li>
            <li>
              <div class="number">8 (927) 033-77-77</div>
              <div class="target">Владимир</div>
            </li>
          </ul>

        </div>

        <!-- Callback -->
        <div class="b-header__item b-header__item--callback">

          <button type="button" class="callback"><span>Заказать звонок</span></button>

        </div>

      </div><!-- /container -->
    </header>

    <!-- Top Bar -->
    <div class="container push--top">
      <ul class="b-topbar">
        <li class="b-topbar__item b-topbar__item--nav" ng-mouseover="showPrimaryNav = true" ng-mouseleave="showPrimaryNav = false">

          <button class="nav-toggle">
            <span class="caption">Интернет-магазин</span>
            <div class="icon-bar">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </button>

          <!-- Primary Navigation -->
          <nav class="b-primary" ng-if="showPrimaryNav" ng-cloak="true">
            <div class="b-primary-root">

              <!-- Root Item -->
              <div class="b-primary-root__item">
                <a href="#" class="b-primary-root__target">Двигатель</a>

                <!-- Nested Item -->
                <div class="b-primary-nested">

                  <!-- Heading -->
                  <div class="b-primary-nested__heading">
                    <span class="b-primary-nested__name">Двигатель</span>
                    <a href="#" class="b-link b-link--muted nowrap smallprint">Посмотреть все</a>
                  </div>

                  <!-- Items -->
                  <ul class="link-list">
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крышка багажника</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                  </ul>

                </div>
              </div>

              <!-- Root Item -->
              <div class="b-primary-root__item">
                <a href="#" class="b-primary-root__target">Кузов очень длинное название</a>

                <!-- Nested Item -->
                <div class="b-primary-nested">

                  <!-- Heading -->
                  <div class="b-primary-nested__heading">
                    <span class="b-primary-nested__name">Кузов очень длинное название</span>
                    <a href="#" class="b-link b-link--muted nowrap smallprint">Посмотреть все</a>
                  </div>

                  <!-- Items -->
                  <ul class="link-list">
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крышка багажника</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                  </ul>

                </div>

              </div>
              <div class="b-primary-root__item">
                <a href="#" class="b-primary-root__target">Ходовая_часть_тоже_длинное_название</a>

                <!-- Nested Item -->
                <div class="b-primary-nested">

                  <!-- Heading -->
                  <div class="b-primary-nested__heading">
                    <span class="b-primary-nested__name">Ходовая_часть_тоже_длинное_название</span>
                    <a href="#" class="b-link b-link--muted nowrap smallprint">Посмотреть все</a>
                  </div>

                  <!-- Items -->
                  <ul class="link-list">
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крышка багажника</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                  </ul>

                </div>
              </div>
              <div class="b-primary-root__item">
                <a href="#" class="b-primary-root__target">Трансмиссия</a>
              </div>
              <div class="b-primary-root__item">
                <a href="#" class="b-primary-root__target">Электрика</a>
              </div>
              <div class="b-primary-root__item">
                <a href="#" class="b-primary-root__target">КПП</a>
              </div>
              <div class="b-primary-root__item">
                <a href="#" class="b-primary-root__target">Кондиционер</a>
              </div>
            </div>
          </nav>

        </li>
        <li class="b-topbar__item b-topbar__item--search">

          <!-- Search Form -->
          <form class="b-search-form">

            <!-- input -->
            <div class="b-search-form__input">

              <div class="b-input-mock">
                <div class="b-input-mock__item b-input-mock__item--selected">
                  <a href="#" class="icon-cross-circle"></a>
                  <span class="value" bs-tooltip data-placement="bottom" data-title="Great Wall Hover H2 H3 H5">Great Wall Hover H2 H3 H5</span>
                </div>

                <div class="b-input-mock__item b-input-mock__item--field">
                  <input type="text" class="field" placeholder="Поиск по номеру #"
                         bs-typeahead
                         ng-model="selectedState"
                         ng-options="state as state.value for state in states"
                         template="../assets/javascripts/views/search-typeahead.tpl.html"
                    />

                </div>
              </div>

            </div>

            <!-- process -->
            <a href="#" class="b-search-form__process"><i class="icon-lens"></i></a>
          </form>

        </li>
        <li class="b-topbar__item b-topbar__item--login login-popover-container">

          <!-- Кнопка для анонимного пользователя -->
          <div class="btn btn-outline btn-block btn-login"
                  bs-popover
                  data-placement="bottom"
                  data-html="true"
                  data-trigger="click"
                  data-content-template="loginPopover.html"
                  ng-click="toggleAuthPopover($event)">
            <div class="caption">Вход</div>
          </div>

          <!-- Кнопка для обычного пользователя -->
          <!--<div class="btn btn-block btn-user-actions"-->
                  <!--bs-popover-->
                  <!--data-placement="bottom"-->
                  <!--data-html="true"-->
                  <!--data-trigger="click"-->
                  <!--data-content-template="actionPopover.html"-->
                  <!--ng-click="toggleAuthPopover($event)">-->
            <!--<div class="caption">-->
              <!--Здравствуйте,-->
              <!--<div class="value" bs-tooltip data-placement="bottom" data-trigger="hover" data-title="Здравствуйте, Константин">Константин...</div>-->
            <!--</div>-->
          <!--</div>-->

          <script type="text/ng-template" id="actionPopover.html">
            <div class="alt"><a href="#" class="b-link">Выйти</a></div>

            <hr class="rule"/>

            <ul class="link-list link-list--collapsed">
              <li><a href="#">Мой гараж</a></li>
              <li><a href="#">Отследить посылку</a></li>
              <li><a href="#">Настройки</a></li>
              <li><a href="#">Бонусы</a></li>
            </ul>
          </script>

          <script type="text/ng-template" id="loginPopover.html">
            <button class="btn btn-block btn-warning"><b>Войти</b></button>
            <div class="alt">или <a href="#" class="b-link">зарегистрироваться</a></div>

            <hr class="rule"/>

            <ul class="link-list link-list--collapsed">
              <li><a href="#">Мой гараж</a></li>
              <li><a href="#">Отследить посылку</a></li>
              <li><a href="#">Настройки</a></li>
              <li><a href="#">Бонусы</a></li>
            </ul>
          </script>

        </li>
        <li class="b-topbar__item b-topbar__item--cart">

          <!-- Кнопка с полной корзиной -->
          <button class="btn btn-block btn-cart"><span class="caption">3 товара</span></button>
          <!-- Кнопка с пустой корзиной -->
          <!--<button class="btn btn-block btn-cart" disabled><i class="icon-cart"></i> Пусто</button>-->

        </li>
      </ul><!-- /topbar -->
    </div><!-- /container -->
  </div><!-- /header -->

  <!-- Main Block -->
  <div class="container push--top">

    <div class="main" role="main">

      <div class="row">

        <!-- Sidebar -->
        <div class="col-xs-3">

          <!-- Search Block -->
          <div class="panel-search" ng-controller="ExtendedSearchController">
            <h4 class="panel-search__heading">Поиск по автомобилю</h4>

            <form action="?">
            <div class="form-group">

              <fancy-select>
                <div class="b-select-mock" ng-class="{ opened: opened }">

                  <div class="b-select-mock__placeholder" ng-click="toggle()">
                    <div class="b-select-mock__placeholder__caption">
                      {{ searchData.mark.name || 'Марка' }}
                    </div>
                  </div>

                  <div class="b-select-mock__options">
                    <div class="panel">
                      <ul class="link-list">
                        <li ng-repeat="item in marks"><a href="#" ng-click="setItem(item, setMark)">{{ item.name }}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </fancy-select>

            </div>
            <div class="form-group">

              <fancy-select>
                <div class="b-select-mock"  ng-class="{ disabled: !searchData.mark, opened: opened && searchData.mark }">
                  <div class="b-select-mock__placeholder" ng-click="toggle()">
                    <div class="b-select-mock__placeholder__caption">
                      {{ searchData.model.name || 'Модель' }} {{ searchData.submodel.name }}
                    </div>
                  </div>

                  <div class="b-select-mock__options">
                    <div class="panel">
                      <ul class="link-list">
                        <li ng-repeat="model in models">
                          <a href="#" ng-click="setItem(model, setModel, false)">{{ model.name }}</a>

                          <!-- Submodels -->
                          <ul class="link-sublist panel-bleed" ng-if="searchData.model == model">
                            <li ng-repeat="submodel in model.submodel">
                              <a href="#" ng-click="setItem(submodel, setSubmodel)">{{ submodel.name }}</a>
                            </li>
                          </ul>

                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </fancy-select>

            </div>
            <div class="form-group">

              <fancy-select>
                <div class="b-select-mock" ng-class="{ disabled: !searchData.submodel, opened: opened && searchData.submodel }">
                  <div class="b-select-mock__placeholder" ng-click="toggle()">
                    <div class="b-select-mock__placeholder__caption">
                      {{ searchData.mod.name || 'Модификации' }}
                    </div>
                  </div>

                  <div class="b-select-mock__options">
                    <div class="panel">
                      <ul class="link-list">
                        <li ng-repeat="item in mods"><a href="#" ng-click="setItem(item, setMod)">{{ item.name }}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </fancy-select>

            </div>

            <div class="push-half--top">
              <input type="hidden" name="mark" value="{{ searchData.mark.id }}"/>
              <input type="hidden" name="model" value="{{ searchData.model.id }}"/>
              <input type="hidden" name="submodel" value="{{ searchData.submodel.id }}"/>
              <input type="hidden" name="mod" value="{{ searchData.mod.id }}"/>
              <button type="submit" class="btn btn-warning soft--right soft-half--left"><i class="icon-lens"></i> <b>Искать</b></button>
            </div>

            </form>
          </div><!-- /panel -->

          <!-- Secondary Navigation -->
          <div class="panel-group panel-group--collapse push--top">
            <div class="panel panel--category">
              <div class="panel-heading collapsed panel-heading--no-panel">
                <h4 class="panel-title">Двигатель</h4>
              </div>
            </div>
            <div class="panel panel--category">
              <div class="panel-heading collapsed" data-toggle="collapse" href="#collapse2">
                <h4 class="panel-title">Кузов</h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">

                  <ul class="link-list">
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крышка багажника</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="panel panel--category">
              <div class="panel-heading collapsed" data-toggle="collapse" href="#collapse3">
                <h4 class="panel-title">Ходовая часть длинное название</h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">

                  <ul class="link-list">
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крышка багажника</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="panel panel--category">
              <div class="panel-heading collapsed" data-toggle="collapse" href="#collapse4">
                <h4 class="panel-title">Трансмиссия</h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">

                  <ul class="link-list">
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крышка багажника</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="panel panel--category">
              <div class="panel-heading collapsed" data-toggle="collapse" href="#collapse5">
                <h4 class="panel-title">Электрика</h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">

                  <ul class="link-list">
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крышка багажника</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                  </ul>

                </div>
              </div>
            </div>
          </div><!-- /panel-group -->

        </div><!-- /col -->

        <!-- Content -->
        <div class="col-xs-9">
          
          <!-- Slider -->
          <div class="flexslider--default" flexslider>
            <ul class="slides">
              <li><a href="#"><img src="../assets/images/tmp/slide.jpg" alt=""/></a></li>
              <li><a href="#"><img src="../assets/images/tmp/slide.jpg" alt=""/></a></li>
              <li><a href="#"><img src="../assets/images/tmp/slide.jpg" alt=""/></a></li>
              <li><a href="#"><img src="../assets/images/tmp/slide.jpg" alt=""/></a></li>
            </ul>
          </div>


          <div class="padded push--top">
            <h2 class="section-heading">Популярные запчасти</h2>

            <ul class="matrix matrix--three">
              <li>
                <figure class="figure-fixed figure-fixed--spare">
                  <div class="figure-fixed__media">
                    <img src="../assets/images/tmp/item-01.jpg" alt=""/>
                  </div>
                </figure>
                <div class="push-half--top figure-description figure-description--spare">
                  <a href="#" class="b-link b-link--inherit title">Двигатель</a>
                  <ul class="list">
                    <li><a href="#" class="b-link b-link--inherit b-link--no-decor">Зажигание</a></li>
                    <li><a href="#" class="b-link b-link--inherit b-link--no-decor">Охлаждение</a></li>
                    <li><a href="#" class="b-link b-link--inherit b-link--no-decor">Питание</a></li>
                  </ul>
                  <a href="#" class="b-link b-link--muted more">Посмотреть все</a>
                </div>
              </li>
              <li>
                <figure class="figure-fixed figure-fixed--spare">
                  <div class="figure-fixed__media">
                    <img src="../assets/images/tmp/item-02.jpg" alt=""/>
                  </div>
                </figure>
                <div class="push-half--top figure-description figure-description--spare">
                  <a href="#" class="b-link b-link--inherit title">Двигатель</a>
                  <ul class="list">
                    <li><a href="#" class="b-link b-link--inherit b-link--no-decor">Зажигание</a></li>
                    <li><a href="#" class="b-link b-link--inherit b-link--no-decor">Охлаждение</a></li>
                    <li><a href="#" class="b-link b-link--inherit b-link--no-decor">Питание</a></li>
                  </ul>
                  <a href="#" class="b-link b-link--muted more">Посмотреть все</a>
                </div>
              </li>
              <li>
                <figure class="figure-fixed figure-fixed--spare">
                  <div class="figure-fixed__media">
                    <img src="../assets/images/tmp/item-03.jpg" alt=""/>
                  </div>
                </figure>
                <div class="push-half--top figure-description figure-description--spare">
                  <a href="#" class="b-link b-link--inherit title">Двигатель</a>
                  <ul class="list">
                    <li><a href="#" class="b-link b-link--inherit b-link--no-decor">Зажигание</a></li>
                    <li><a href="#" class="b-link b-link--inherit b-link--no-decor">Охлаждение</a></li>
                    <li><a href="#" class="b-link b-link--inherit b-link--no-decor">Питание</a></li>
                  </ul>
                  <a href="#" class="b-link b-link--muted more">Посмотреть все</a>
                </div>
              </li>
              <li>
                <figure class="figure-fixed figure-fixed--spare">
                  <div class="figure-fixed__media">
                    <img src="../assets/images/tmp/item-04.jpg" alt=""/>
                  </div>
                </figure>
                <div class="push-half--top figure-description figure-description--spare">
                  <a href="#" class="b-link b-link--inherit title">Двигатель</a>
                  <ul class="list">
                    <li><a href="#" class="b-link b-link--inherit b-link--no-decor">Зажигание</a></li>
                    <li><a href="#" class="b-link b-link--inherit b-link--no-decor">Охлаждение</a></li>
                    <li><a href="#" class="b-link b-link--inherit b-link--no-decor">Питание</a></li>
                  </ul>
                  <a href="#" class="b-link b-link--muted more">Посмотреть все</a>
                </div>
              </li>
              <li>
                <figure class="figure-fixed figure-fixed--spare">
                  <div class="figure-fixed__media">
                    <img src="../assets/images/tmp/item-05.jpg" alt=""/>
                  </div>
                </figure>
                <div class="push-half--top figure-description figure-description--spare">
                  <a href="#" class="b-link b-link--inherit title">Двигатель</a>
                  <ul class="list">
                    <li><a href="#" class="b-link b-link--inherit b-link--no-decor">Зажигание</a></li>
                    <li><a href="#" class="b-link b-link--inherit b-link--no-decor">Охлаждение</a></li>
                    <li><a href="#" class="b-link b-link--inherit b-link--no-decor">Питание</a></li>
                  </ul>
                  <a href="#" class="b-link b-link--muted more">Посмотреть все</a>
                </div>
              </li>
              <li>
                <figure class="figure-fixed figure-fixed--spare">
                  <div class="figure-fixed__media">
                    <img src="../assets/images/tmp/item-06.jpg" alt=""/>
                  </div>
                </figure>
                <div class="push-half--top figure-description figure-description--spare">
                  <a href="#" class="b-link b-link--inherit title">Двигатель</a>
                  <ul class="list">
                    <li><a href="#" class="b-link b-link--inherit b-link--no-decor">Зажигание</a></li>
                    <li><a href="#" class="b-link b-link--inherit b-link--no-decor">Охлаждение</a></li>
                    <li><a href="#" class="b-link b-link--inherit b-link--no-decor">Питание</a></li>
                  </ul>
                  <a href="#" class="b-link b-link--muted more">Посмотреть все</a>
                </div>
              </li>
            </ul><!-- /matrix -->
          </div>


          <hr class="rule push--ends"/>


          <h2 class="section-heading">Популярные запчасти</h2>

          <div class="pricing-table-list">

            <!-- item -->
            <div class="pricing-table-list__item">

              <ul class="pricing-table">
                <li class="pricing-table__media">
                  <a class="b-ribbon b-ribbon--star" href="#">
                    <img class="pricing-table__image" src="../assets/images/tmp/spare-item.jpg" alt=""/>
                  </a>
                </li>
                <li class="pricing-table__heading">
                  <a href="#" class="b-link--inherit b-link--decor">
                    Регулировочный стаканчикклапанов размер от 5.12до 5.48 FAW
                  </a>
                </li>
                <li class="pricing-table__price">

                  <div class="b-price b-price--old">
                    <span class="b-price__val">57 990</span>
                    <span class="b-price__cur">руб.</span>
                  </div>
                  <div class="b-price b-price--current">
                    <span class="b-price__val">957 990</span>
                    <span class="b-price__cur">руб.</span>
                  </div>

                </li>
                <li class="pricing-table__button">

                  <!-- Кнопка добавления товара в корзину -->
                  <button type="button" class="btn btn-block"
                          ng-class="{ 'btn-warning': !isInCart({ id: 1 }), 'btn-success': isInCart({ id: 1 }) }"
                          ng-click="addToCart({ id: 1 })"
                          bs-popover
                          data-placement="bottom"
                          data-html="true"
                          data-trigger="click"
                          data-template="popoverGray.html"
                          data-content-template="addedToCart.html"
                          rm-popovers
                    >
                    <b ng-show="isInCart({ id: 1 })">Купить</b>
                    <b ng-hide="isInCart({ id: 1 })">В корзине</b>
                  </button>

                </li>
              </ul>

            </div>

            <!-- item -->
            <div class="pricing-table-list__item">

              <ul class="pricing-table">
                <li class="pricing-table__media">
                  <a class="b-ribbon b-ribbon--star" href="#">
                    <img class="pricing-table__image" src="../assets/images/tmp/spare-item.jpg" alt=""/>
                  </a>
                </li>
                <li class="pricing-table__heading">
                  <a href="#" class="b-link--inherit b-link--decor">
                    Регулировочный стаканчикклапанов размер от 5.12до 5.48 FAW
                  </a>
                </li>
                <li class="pricing-table__price">

                  <div class="b-price b-price--old">
                    <span class="b-price__val">57 990</span>
                    <span class="b-price__cur">руб.</span>
                  </div>
                  <div class="b-price b-price--current">
                    <span class="b-price__val">957 990</span>
                    <span class="b-price__cur">руб.</span>
                  </div>

                </li>
                <li class="pricing-table__button">

                  <!-- Кнопка добавления товара в корзину -->
                  <button type="button" class="btn btn-block"
                          ng-class="{ 'btn-warning': !isInCart({ id: 2 }), 'btn-success': isInCart({ id: 2 }) }"
                          ng-click="addToCart({ id: 2 })"
                          bs-popover
                          data-placement="bottom"
                          data-html="true"
                          data-trigger="click"
                          data-template="popoverGray.html"
                          data-content-template="addedToCart.html"
                          rm-popovers
                    >
                    <b ng-show="isInCart({ id: 2 })">Купить</b>
                    <b ng-hide="isInCart({ id: 2 })">В корзине</b>
                  </button>

                </li>
              </ul>

            </div>

            <!-- item -->
            <div class="pricing-table-list__item">

              <ul class="pricing-table">
                <li class="pricing-table__media">
                  <a class="b-ribbon b-ribbon--star" href="#">
                    <img class="pricing-table__image" src="../assets/images/tmp/spare-item.jpg" alt=""/>
                  </a>
                </li>
                <li class="pricing-table__heading">
                  <a href="#" class="b-link--inherit b-link--decor">
                    Регулировочный стаканчикклапанов размер от 5.12до 5.48 FAW
                  </a>
                </li>
                <li class="pricing-table__price">

                  <div class="b-price b-price--old">
                    <span class="b-price__val">57 990</span>
                    <span class="b-price__cur">руб.</span>
                  </div>
                  <div class="b-price b-price--current">
                    <span class="b-price__val">957 990</span>
                    <span class="b-price__cur">руб.</span>
                  </div>

                </li>
                <li class="pricing-table__button">

                  <!-- Кнопка добавления товара в корзину -->
                  <button type="button" class="btn btn-block"
                          ng-class="{ 'btn-warning': !isInCart({ id: 1 }), 'btn-success': isInCart({ id: 1 }) }"
                          ng-click="addToCart({ id: 1 })"
                          bs-popover
                          data-placement="bottom"
                          data-html="true"
                          data-trigger="click"
                          data-template="popoverGray.html"
                          data-content-template="addedToCart.html"
                          rm-popovers
                    >
                    <b ng-show="isInCart({ id: 1 })">Купить</b>
                    <b ng-hide="isInCart({ id: 1 })">В корзине</b>
                  </button>

                </li>
              </ul>

            </div>

            <!-- item -->
            <div class="pricing-table-list__item">

              <ul class="pricing-table">
                <li class="pricing-table__media">
                  <a class="b-ribbon b-ribbon--star" href="#">
                    <img class="pricing-table__image" src="../assets/images/tmp/spare-item.jpg" alt=""/>
                  </a>
                </li>
                <li class="pricing-table__heading">
                  <a href="#" class="b-link--inherit b-link--decor">
                    Регулировочный стаканчикклапанов размер от 5.12до 5.48 FAW
                  </a>
                </li>
                <li class="pricing-table__price">

                  <div class="b-price b-price--old">
                    <span class="b-price__val">57 990</span>
                    <span class="b-price__cur">руб.</span>
                  </div>
                  <div class="b-price b-price--current">
                    <span class="b-price__val">957 990</span>
                    <span class="b-price__cur">руб.</span>
                  </div>

                </li>
                <li class="pricing-table__button">

                  <!-- Кнопка добавления товара в корзину -->
                  <button type="button" class="btn btn-block"
                          ng-class="{ 'btn-warning': !isInCart({ id: 2 }), 'btn-success': isInCart({ id: 2 }) }"
                          ng-click="addToCart({ id: 2 })"
                          bs-popover
                          data-placement="bottom"
                          data-html="true"
                          data-trigger="click"
                          data-template="popoverGray.html"
                          data-content-template="addedToCart.html"
                          rm-popovers
                    >
                    <b ng-show="isInCart({ id: 2 })">Купить</b>
                    <b ng-hide="isInCart({ id: 2 })">В корзине</b>
                  </button>

                </li>
              </ul>

            </div>


          </div><!-- end of .pricing-table-list -->


          <hr class="rule push--ends"/>


          <div class="padded push--top">
            <h2 class="section-heading">Бренды</h2>

             <ul class="matrix matrix--six">
               <li>
                 <a href="#" class="figure-fixed figure-fixed--brand">
                   <span class="figure-fixed__media"><img src="../assets/images/tmp/brand-01.jpg" alt=""/></span>
                 </a>
                 <div class="figure-description figure-description--brand">
                   Chery (Чери),Vortex (Вортекс)
                 </div>
               </li>
               <li>
                 <a href="#" class="figure-fixed figure-fixed--brand">
                   <span class="figure-fixed__media"><img src="../assets/images/tmp/brand-02.jpg" alt=""/></span>
                 </a>
                 <div class="figure-description figure-description--brand">
                   Двигатель СеАЗ1111"ОКА"
                 </div>
               </li>
               <li>
                 <a href="#" class="figure-fixed figure-fixed--brand">
                   <span class="figure-fixed__media"><img src="../assets/images/tmp/brand-03.jpg" alt=""/></span>
                 </a>
                 <div class="figure-description figure-description--brand">
                   Iran KhodroSamand (Саманд)
                 </div>
               </li>
               <li>
                 <a href="#" class="figure-fixed figure-fixed--brand">
                   <span class="figure-fixed__media"><img src="../assets/images/tmp/brand-04.jpg" alt=""/></span>
                 </a>
                 <div class="figure-description figure-description--brand">
                   Chery (Чери),Vortex (Вортекс)
                 </div>
               </li>
               <li>
                 <a href="#" class="figure-fixed figure-fixed--brand">
                   <span class="figure-fixed__media"><img src="../assets/images/tmp/brand-05.jpg" alt=""/></span>
                 </a>
                 <div class="figure-description figure-description--brand">
                   Chery (Чери),Vortex (Вортекс)
                 </div>
               </li>
               <li>
                 <a href="#" class="figure-fixed figure-fixed--brand">
                   <span class="figure-fixed__media"><img src="../assets/images/tmp/brand-06.jpg" alt=""/></span>
                 </a>
                 <div class="figure-description figure-description--brand">
                   Chery (Чери),Vortex (Вортекс)
                 </div>
               </li>
               <li>
                 <a href="#" class="figure-fixed figure-fixed--brand">
                   <span class="figure-fixed__media"><img src="../assets/images/tmp/brand-01.jpg" alt=""/></span>
                 </a>
                 <div class="figure-description figure-description--brand">
                   Chery (Чери),Vortex (Вортекс)
                 </div>
               </li>
               <li>
                 <a href="#" class="figure-fixed figure-fixed--brand">
                   <span class="figure-fixed__media"><img src="../assets/images/tmp/brand-02.jpg" alt=""/></span>
                 </a>
                 <div class="figure-description figure-description--brand">
                   Двигатель СеАЗ1111"ОКА"
                 </div>
               </li>
               <li>
                 <a href="#" class="figure-fixed figure-fixed--brand">
                   <span class="figure-fixed__media"><img src="../assets/images/tmp/brand-03.jpg" alt=""/></span>
                 </a>
                 <div class="figure-description figure-description--brand">
                   Iran KhodroSamand (Саманд)
                 </div>
               </li>
               <li>
                 <a href="#" class="figure-fixed figure-fixed--brand">
                   <span class="figure-fixed__media"><img src="../assets/images/tmp/brand-04.jpg" alt=""/></span>
                 </a>
                 <div class="figure-description figure-description--brand">
                   Chery (Чери),Vortex (Вортекс)
                 </div>
               </li>
               <li>
                 <a href="#" class="figure-fixed figure-fixed--brand">
                   <span class="figure-fixed__media"><img src="../assets/images/tmp/brand-05.jpg" alt=""/></span>
                 </a>
                 <div class="figure-description figure-description--brand">
                   Chery (Чери),Vortex (Вортекс)
                 </div>
               </li>
               <li>
                 <a href="#" class="figure-fixed figure-fixed--brand">
                   <span class="figure-fixed__media"><img src="../assets/images/tmp/brand-06.jpg" alt=""/></span>
                 </a>
                 <div class="figure-description figure-description--brand">
                   Chery (Чери),Vortex (Вортекс)
                 </div>
               </li>
             </ul><!-- /matrix -->
          </div>

          <hr class="rule push--ends"/>

          <div class="push-double--top plain-text-about">
            <p>Если Вы не нашли интересующую Вас запчасть, пишите или звоните нашим менеджерам (см. Контакты)</p>

            <p>Более 12 тысяч наименований товаров на складах г. Казань и Набережных Челнов</p>

            <p>Добро пожаловать в интернет-магазин запчастей для китайских автомобилей Goodzone!</p>

            <p>Легко понять, где покупать запчасти для КИТАЙЦА</p>

            <p>Интернет-магазин Goodzone предлагает большой выбор аксессуаров и запчастей для автомобилей китайского
              производства. В нашем каталоге Вы можете выбрать запчасти и расходные материалы для китайских автомобилей
              Vortex, Geely, Lifan, Chery, Hafei, Byd, Great Wall, Brilliance, Samand, Haima, SMA, Cummins, Shaanxi-Man,
              DONG FENG и др.</p>

            <p>Магазин Goodzone работает с производителями из Китая напрямую, что позволяет нам устанавливать
              максимально доступные цены на все автозапчасти. Кроме того, у нас Вы всегда можете заказать доставку
              запчастей для китайских авто не только по Татарстану, но и по всей России (Уфа, Самара, Ханты-Мансийск,
              Набережные Челны, Киров, Пермь и др.) любым удобным для Вас способом.</p>
          </div>

        </div><!-- /col -->
      </div><!-- /row -->

    </div><!-- /main -->

  </div><!-- /container -->


  <footer class="b-footer-wrap">
    <div class="container">
      <div class="row">

        <div class="col-xs-3">
          <ul class="footer-link-list footer-link-list--light">
            <li><a href="#">Запчасти Китайских Авто</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Филиалы</a></li>
            <li><a href="#">Доставка и оплата</a></li>
          </ul>
        </div><!-- /col -->

        <div class="col-xs-3">
          <ul class="footer-link-list">
            <li><a href="#">Запчасти Китайских Авто</a></li>
            <li><a href="#">Chery (Чери), Vortex (Вортекс)</a></li>
            <li><a href="#">Great Wall (Грейт Волл)</a></li>
            <li><a href="#">Geely (Джили)</a></li>
            <li><a href="#">Geely (Джили)</a></li>
            <li><a href="#">BYD (Бад) 223</a></li>
            <li><a href="#">Lifan (Лифан)</a></li>
            <li><a href="#">Hafei (Хафей)</a></li>
            <li><a href="#">FAW (ФАВ) 155</a></li>
            <li><a href="#">Iran Khodro Samand (Саманд)</a></li>
            <li><a href="#">ZX Auto</a></li>
            <li><a href="#">SMA Maple</a></li>
          </ul>
        </div><!-- /col -->

        <div class="col-xs-3">
          <ul class="footer-link-list">
            <li><a href="#">Запчасти Китайских Авто</a></li>
            <li><a href="#">Chery (Чери), Vortex (Вортекс)</a></li>
            <li><a href="#">Great Wall (Грейт Волл)</a></li>
            <li><a href="#">Geely (Джили)</a></li>
            <li><a href="#">Geely (Джили)</a></li>
            <li><a href="#">BYD (Бад) 223</a></li>
            <li><a href="#">Lifan (Лифан)</a></li>
            <li><a href="#">Hafei (Хафей)</a></li>
            <li><a href="#">FAW (ФАВ) 155</a></li>
            <li><a href="#">Iran Khodro Samand (Саманд)</a></li>
            <li><a href="#">ZX Auto</a></li>
            <li><a href="#">SMA Maple</a></li>
          </ul>
        </div><!-- /col -->

        <div class="col-xs-3">
          <ul class="footer-link-list">
            <li><a href="#">Запчасти Китайских Авто</a></li>
            <li><a href="#">Chery (Чери), Vortex (Вортекс)</a></li>
            <li><a href="#">Great Wall (Грейт Волл)</a></li>
            <li><a href="#">Geely (Джили)</a></li>
            <li><a href="#">Geely (Джили)</a></li>
            <li><a href="#">BYD (Бад) 223</a></li>
            <li><a href="#">Lifan (Лифан)</a></li>
            <li><a href="#">Hafei (Хафей)</a></li>
            <li><a href="#">FAW (ФАВ) 155</a></li>
            <li><a href="#">Iran Khodro Samand (Саманд)</a></li>
            <li><a href="#">ZX Auto</a></li>
            <li><a href="#">SMA Maple</a></li>
          </ul>
        </div><!-- /col -->

      </div><!-- /row -->
    </div><!-- /container -->

    <div class="b-footer">
      <div class="container">

        <!-- Callback -->
        <div class="b-footer__item b-footer__item--callback">
          <button type="button" class="callback"><span>Заказать звонок</span></button>
        </div>

        <!-- Phones -->
        <div class="b-footer__item b-footer__item--phones">

          <ul class="phones-horizontal-list">
            <li class="has-icon invert">
              <div class="number">8 (800) 500-21-16</div>
              <div class="target">Звонок бесплатный</div>
            </li>
            <li>
              <div class="number">8 (927) 039-11-84</div>
              <div class="target">Александр</div>
            </li>
            <li>
              <div class="number">8 (927) 033-77-77</div>
              <div class="target">Владимир</div>
            </li>
          </ul>

        </div>

        <div class="b-footer__item b-footer__item--counters">
          <ul class="counters-list">
            <li><img src="../assets/images/tmp/counter.jpg" alt=""/></li>
            <li><img src="../assets/images/tmp/counter.jpg" alt=""/></li>
          </ul>
        </div>

      </div><!-- /container -->
    </div>

  </footer>
</div><!-- /root -->

<!-- Vendor Scripts -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>

<!-- Bootstrap -->
<script src="../bower_components/bootstrap/js/transition.js"></script>
<script src="../bower_components/bootstrap/js/collapse.js"></script>
<script src="../bower_components/angular-strap/dist/modules/dimensions.js"></script>
<script src="../bower_components/angular-strap/dist/modules/tooltip.js"></script>
<script src="../bower_components/angular-strap/dist/modules/tooltip.tpl.js"></script>
<script src="../bower_components/angular-strap/dist/modules/popover.js"></script>
<script src="../bower_components/angular-strap/dist/modules/popover.tpl.js"></script>
<script src="../bower_components/angular-strap/dist/modules/modal.js"></script>
<script src="../bower_components/angular-strap/dist/modules/modal.tpl.js"></script>
<script src="../bower_components/angular-strap/dist/modules/typeahead.js"></script>
<script src="../bower_components/angular-strap/dist/modules/typeahead.tpl.js"></script>
<script src="../bower_components/angular-strap/dist/modules/parse-options.js"></script>

<!-- Other Plugins -->
<script src="../bower_components/flexslider/jquery.flexslider.js"></script>

<!-- Custom Scripts -->
<script src="../assets/javascripts/application.js"></script>
<script src="../assets/javascripts/templates.js"></script>
<script src="../assets/javascripts/controllers/BaseController.js"></script>
<script src="../assets/javascripts/controllers/ExtendedSearchController.js"></script>
<script src="../assets/javascripts/controllers/FancySelectController.js"></script>
<script src="../assets/javascripts/directives/fancySelect.js"></script>
<script src="../assets/javascripts/directives/flexslider.js"></script>
<script src="../assets/javascripts/directives/rmPopovers.js"></script>
</body>
</html>
