<!DOCTYPE html>
<html lang="ru">
<head>
    <title></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../bower_components/flexslider/flexslider.css"/>
    <link rel="stylesheet" href="../assets/stylesheets/application.css"/>
    <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
</head>
<body ng-app="app" ng-controller="BaseController">

<div class="root">

  <!-- Header -->
  <div class="b-header-wrapper">

    <!-- Header -->
    <header class="b-header">
      <div class="container">

        <!-- Logo -->
        <div class="b-header__item b-header__item--logo">
          <div class="b-logo"><a href="#" class="b-logo__image"></a></div>
        </div>

        <!-- Phones -->
        <div class="b-header__item b-header__item--phones">

          <ul class="phones-horizontal-list">
            <li class="has-icon">
              <div class="number">8 (800) 500-21-16</div>
              <div class="target">Звонок бесплатный</div>
            </li>
            <li>
              <div class="number">8 (927) 039-11-84</div>
              <div class="target">Александр</div>
            </li>
            <li>
              <div class="number">8 (927) 033-77-77</div>
              <div class="target">Владимир</div>
            </li>
          </ul>

        </div>

        <!-- Callback -->
        <div class="b-header__item b-header__item--callback">

          <button type="button" class="callback"><span>Заказать звонок</span></button>

        </div>

      </div><!-- /container -->
    </header>

    <!-- Top Bar -->
    <div class="container push--top">
      <ul class="b-topbar">
        <li class="b-topbar__item b-topbar__item--nav" ng-mouseover="showPrimaryNav = true" ng-mouseleave="showPrimaryNav = false">

          <button class="nav-toggle">
            <span class="caption">Интернет-магазин</span>
            <div class="icon-bar">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </button>

          <!-- Primary Navigation -->
          <nav class="b-primary" ng-if="showPrimaryNav">
            <div class="b-primary-root">

              <!-- Root Item -->
              <div class="b-primary-root__item">
                <a href="#" class="b-primary-root__target">Двигатель</a>

                <!-- Nested Item -->
                <div class="b-primary-nested">

                  <!-- Heading -->
                  <div class="b-primary-nested__heading">
                    <span class="b-primary-nested__name">Двигатель</span>
                    <a href="#" class="b-link b-link--muted nowrap smallprint">Посмотреть все</a>
                  </div>

                  <!-- Items -->
                  <ul class="link-list">
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крышка багажника</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                  </ul>

                </div>
              </div>

              <!-- Root Item -->
              <div class="b-primary-root__item">
                <a href="#" class="b-primary-root__target">Кузов</a>

                <!-- Nested Item -->
                <div class="b-primary-nested">

                  <!-- Heading -->
                  <div class="b-primary-nested__heading">
                    <span class="b-primary-nested__name">Кузов</span>
                    <a href="#" class="b-link b-link--muted nowrap smallprint">Посмотреть все</a>
                  </div>

                  <!-- Items -->
                  <ul class="link-list">
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крышка багажника</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                  </ul>

                </div>

              </div>
              <div class="b-primary-root__item">
                <a href="#" class="b-primary-root__target">Ходовая часть</a>

                <!-- Nested Item -->
                <div class="b-primary-nested">

                  <!-- Heading -->
                  <div class="b-primary-nested__heading">
                    <span class="b-primary-nested__name">Ходовая часть</span>
                    <a href="#" class="b-link b-link--muted nowrap smallprint">Посмотреть все</a>
                  </div>

                  <!-- Items -->
                  <ul class="link-list">
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крышка багажника</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                  </ul>

                </div>
              </div>
              <div class="b-primary-root__item">
                <a href="#" class="b-primary-root__target">Трансмиссия</a>
              </div>
              <div class="b-primary-root__item">
                <a href="#" class="b-primary-root__target">Электрика</a>
              </div>
              <div class="b-primary-root__item">
                <a href="#" class="b-primary-root__target">КПП</a>
              </div>
              <div class="b-primary-root__item">
                <a href="#" class="b-primary-root__target">Кондиционер</a>
              </div>
            </div>
          </nav>

        </li>
        <li class="b-topbar__item b-topbar__item--search">

          <!-- Search Form -->
          <form class="b-search-form">

            <!-- input -->
            <div class="b-search-form__input">

              <div class="b-input-mock">
                <div class="b-input-mock__item b-input-mock__item--selected">
                  <a href="#" class="icon-cross-circle"></a>
                  <span class="value" bs-tooltip data-placement="bottom" data-title="Great Wall Hover H2 H3 H5">Great Wall Hover...</span>
                </div>

                <div class="b-input-mock__item b-input-mock__item--field">
                  <input type="text" class="field" placeholder="Поиск по номеру #"/>
                </div>
              </div>

            </div>

            <!-- process -->
            <a href="#" class="b-search-form__process"><i class="icon-lens"></i></a>
          </form>

        </li>
        <li class="b-topbar__item b-topbar__item--login login-popover-container">

          <!-- Кнопка для анонимного пользователя -->
          <div class="btn btn-outline btn-block btn-login"
                  bs-popover
                  data-placement="bottom"
                  data-html="true"
                  data-trigger="click"
                  data-content-template="loginPopover.html"
                  ng-click="toggleAuthPopover($event)">
            <div class="caption">Вход</div>
          </div>

          <!-- Кнопка для обычного пользователя -->
          <!--<div class="btn btn-block btn-user-actions"-->
                  <!--bs-popover-->
                  <!--data-placement="bottom"-->
                  <!--data-html="true"-->
                  <!--data-trigger="click"-->
                  <!--data-content-template="actionPopover.html"-->
                  <!--ng-click="toggleAuthPopover($event)">-->
            <!--<div class="caption">-->
              <!--Здравствуйте,-->
              <!--<div class="value" bs-tooltip data-placement="bottom" data-trigger="hover" data-title="Здравствуйте, Константин">Константин...</div>-->
            <!--</div>-->
          <!--</div>-->

          <script type="text/ng-template" id="actionPopover.html">
            <div class="alt"><a href="#" class="b-link">Выйти</a></div>

            <hr class="rule"/>

            <ul class="link-list link-list--collapsed">
              <li><a href="#">Мой гараж</a></li>
              <li><a href="#">Отследить посылку</a></li>
              <li><a href="#">Настройки</a></li>
              <li><a href="#">Бонусы</a></li>
            </ul>
          </script>

          <script type="text/ng-template" id="loginPopover.html">
            <button class="btn btn-block btn-warning"><b>Войти</b></button>
            <div class="alt">или <a href="#" class="b-link">зарегистрироваться</a></div>

            <hr class="rule"/>

            <ul class="link-list link-list--collapsed">
              <li><a href="#">Мой гараж</a></li>
              <li><a href="#">Отследить посылку</a></li>
              <li><a href="#">Настройки</a></li>
              <li><a href="#">Бонусы</a></li>
            </ul>
          </script>

        </li>
        <li class="b-topbar__item b-topbar__item--cart">

          <!-- Кнопка с полной корзиной -->
          <button class="btn btn-block btn-cart"><span class="caption">3 товара</span></button>
          <!-- Кнопка с пустой корзиной -->
          <!--<button class="btn btn-block btn-cart" disabled><i class="icon-cart"></i> Пусто</button>-->

        </li>
      </ul><!-- /topbar -->
    </div><!-- /container -->
  </div><!-- /header -->

  <!-- Main Block -->
  <div class="container push--top">

    <div class="main" role="main">

      <div class="row">

        <!-- Sidebar -->
        <div class="col-xs-3">

          <!-- Search Block -->
          <div class="panel-search" ng-controller="ExtendedSearchController">
            <h4 class="panel-search__heading">Поиск по автомобилю</h4>

            <form action="?">
            <div class="form-group">

              <div class="b-select-mock" ng-controller="FancySelectController" ng-class="{ opened: opened }">

                <div class="b-select-mock__placeholder" ng-click="toggle()">{{ searchData.mark.name || 'Марка' }}</div>

                <div class="b-select-mock__options">
                  <div class="panel">
                    <ul class="link-list">
                      <li ng-repeat="item in marks"><a href="#" ng-click="setItem(item, setMark)">{{ item.name }}</a></li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
            <div class="form-group">

              <div class="b-select-mock" ng-controller="FancySelectController" ng-class="{ disabled: !searchData.mark, opened: opened && searchData.mark }">
                <div class="b-select-mock__placeholder" ng-click="toggle()">{{ searchData.model.name || 'Модель' }}</div>

                <div class="b-select-mock__options">
                  <div class="panel">
                    <ul class="link-list">
                      <li ng-repeat="item in models"><a href="#" ng-click="setItem(item, setModel)">{{ item.name }}</a></li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
            <div class="form-group">

              <div class="b-select-mock" ng-controller="FancySelectController" ng-class="{ disabled: !searchData.model, opened: opened && searchData.model }">
                <div class="b-select-mock__placeholder" ng-click="toggle()">{{ searchData.submodel.name || 'Подмодель' }}</div>

                <div class="b-select-mock__options">
                  <div class="panel">
                    <ul class="link-list">
                      <li ng-repeat="item in submodels"><a href="#" ng-click="setItem(item, setSubmodel)">{{ item.name }}</a></li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
            <div class="form-group">

              <div class="b-select-mock" ng-controller="FancySelectController" ng-class="{ disabled: !searchData.submodel, opened: opened && searchData.submodel }">
                <div class="b-select-mock__placeholder" ng-click="toggle()">{{ searchData.mod.name || 'Модификации' }}</div>

                <div class="b-select-mock__options">
                  <div class="panel">
                    <ul class="link-list">
                      <li ng-repeat="item in mods"><a href="#" ng-click="setItem(item, setMod)">{{ item.name }}</a></li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
            <div class="push-half--top">
              <input type="hidden" name="mark" value="{{ searchData.mark.id }}"/>
              <input type="hidden" name="model" value="{{ searchData.model.id }}"/>
              <input type="hidden" name="submodel" value="{{ searchData.submodel.id }}"/>
              <input type="hidden" name="mod" value="{{ searchData.mod.id }}"/>
              <button type="submit" class="btn btn-warning soft--right soft-half--left"><i class="icon-lens"></i> <b>Искать</b></button>
            </div>

            </form>
          </div><!-- /panel -->

          <!-- Secondary Navigation -->
          <div class="panel-group panel-group--collapse push--top">
            <div class="panel panel--category">
              <div class="panel-heading collapsed" data-toggle="collapse" href="#collapse1">
                <h4 class="panel-title">Двигатель</h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">

                  <ul class="link-list">
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крышка багажника</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="panel panel--category">
              <div class="panel-heading collapsed" data-toggle="collapse" href="#collapse2">
                <h4 class="panel-title">Кузов</h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">

                  <ul class="link-list">
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крышка багажника</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="panel panel--category">
              <div class="panel-heading collapsed" data-toggle="collapse" href="#collapse3">
                <h4 class="panel-title">Ходовая часть</h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">

                  <ul class="link-list">
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крышка багажника</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="panel panel--category">
              <div class="panel-heading collapsed" data-toggle="collapse" href="#collapse4">
                <h4 class="panel-title">Трансмиссия</h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">

                  <ul class="link-list">
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крышка багажника</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="panel panel--category">
              <div class="panel-heading collapsed" data-toggle="collapse" href="#collapse5">
                <h4 class="panel-title">Электрика</h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">

                  <ul class="link-list">
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span>
                    </li>
                    <li>
                      <a href="#">Крышка багажника</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Бампера</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Крылья</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Капот</a>
                      <span class="badge">42</span></li>
                    <li>
                      <a href="#">Решетка радиатора</a>
                      <span class="badge">42</span></li>
                  </ul>

                </div>
              </div>
            </div>
          </div><!-- /panel-group -->

        </div><!-- /col -->

        <!-- Content -->
        <div class="col-xs-9">

          <!-- Breadcrumbs -->
          <ul class="breadcrumbs push-half--bottom">
            <li><a href="#" class="item">FAW Vita</a></li>
            <li><a href="#" class="item">Двигатель</a></li>
            <li>Блок цилиндров</li>
          </ul>
          

          <!-- List -->
          <ul class="card-list">
            <li class="card-list__item">

              <div class="b-spare-card">
                <div class="b-spare-card__item b-spare-card__item--base">

                  <div class="b-spare-detail">

                    <div class="b-spare-detail__media">
                      <a class="b-ribbon b-ribbon--new" href="#">
                        <img src="../assets/images/tmp/spare-item.jpg" alt=""/>
                      </a>
                    </div>
                    <div class="b-spare-detail__body">
                      <h3 class="b-spare-detail__heading">
                        <a href="#" class="b-link--inherit">Регулировочный стаканчик клапановразмер от 5.12 до 5.48 FAW</a>
                      </h3>
                      <div class="b-spare-detail__meta">Номер 1, Номер 2</div>
                      <div class="b-spare-detail__text">
                        Шланг тормозной передний левый BYD F3, F3R 17.03.1800F3010
                      </div>
                    </div>

                  </div>

                </div>
                <div class="b-spare-card__item b-spare-card__item--meta">

                  <div class="b-price b-price--old">
                    <span class="b-price__val">57 990</span>
                    <span class="b-price__cur">руб.</span>
                  </div>
                  <div class="b-price b-price--current">
                    <span class="b-price__val">957 990</span>
                    <span class="b-price__cur">руб.</span>
                  </div>
                  <div class="validity">Есть в наличии</div>
                  <button type="button" class="btn btn-block btn-warning"><b>Купить</b></button>

                </div>
              </div>

            </li>
            <li class="card-list__item">

              <div class="b-spare-card">
                <div class="b-spare-card__item b-spare-card__item--base">

                  <div class="b-spare-detail">

                    <div class="b-spare-detail__media">
                      <a class="b-ribbon b-ribbon--star b-ribbon--sale" href="#">
                        <img src="../assets/images/tmp/spare-item.jpg" alt=""/>
                      </a>
                    </div>
                    <div class="b-spare-detail__body">
                      <h3 class="b-spare-detail__heading">
                        <a href="#" class="b-link--inherit">Регулировочный стаканчик клапановразмер от 5.12 до 5.48 FAW</a>
                      </h3>
                      <div class="b-spare-detail__meta">Номер 1, Номер 2</div>
                      <div class="b-spare-detail__text">
                        Шланг тормозной передний левый BYD F3, F3R 17.03.1800F3010
                      </div>
                    </div>

                  </div>

                </div>
                <div class="b-spare-card__item b-spare-card__item--meta">

                  <div class="b-price b-price--old">
                    <span class="b-price__val">57 990</span>
                    <span class="b-price__cur">руб.</span>
                  </div>
                  <div class="b-price b-price--current">
                    <span class="b-price__val">957 990</span>
                    <span class="b-price__cur">руб.</span>
                  </div>
                  <div class="validity">Срок поставки: <b>3 дня</b></div>
                  <button type="button" class="btn btn-block btn-warning"><b>Купить</b></button>

                </div>
              </div>

            </li>
            <li class="card-list__item">

              <div class="b-spare-card">
                <div class="b-spare-card__item b-spare-card__item--base">

                  <div class="b-spare-detail">

                    <div class="b-spare-detail__media">
                      <a href="#">
                        <img src="../assets/images/tmp/spare-item.jpg" alt=""/>
                      </a>
                    </div>
                    <div class="b-spare-detail__body">
                      <h3 class="b-spare-detail__heading">
                        <a href="#" class="b-link--inherit">Регулировочный стаканчик клапановразмер от 5.12 до 5.48 FAW</a>
                      </h3>
                      <div class="b-spare-detail__meta">Номер 1, Номер 2</div>
                      <div class="b-spare-detail__text">
                        Шланг тормозной передний левый BYD F3, F3R 17.03.1800F3010
                      </div>
                    </div>

                  </div>

                </div>
                <div class="b-spare-card__item b-spare-card__item--meta">

                  <div class="b-price b-price--old">
                    <span class="b-price__val">57 990</span>
                    <span class="b-price__cur">руб.</span>
                  </div>
                  <div class="b-price b-price--current">
                    <span class="b-price__val">957 990</span>
                    <span class="b-price__cur">руб.</span>
                  </div>
                  <div class="validity">Срок поставки: <b>3 дня</b></div>
                  <button type="button" class="btn btn-block btn-warning"><b>Купить</b></button>

                </div>
              </div>

            </li>
          </ul>


          <!-- Pagination -->
          <div class="b-pagination push-half--top">
            <div class="b-pagination__pages">

              <div class="b-pagination__label ">Всего страниц: <b>3</b></div>
              <ul class="b-pagination__list b-pagination__list--pages">
                <li><a href="#">Предыдущая</a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">Следующая</a></li>
              </ul>

            </div>
            <div class="b-pagination__limit">

              <div class="b-pagination__label">Показать по:</div>
              <ul class="b-pagination__list b-pagination__list--limit">
                <li class="active"><a href="#">20</a></li>
                <li><a href="#">50</a></li>
                <li><a href="#">100</a></li>
              </ul>

            </div>
          </div>



        </div><!-- /col -->
      </div><!-- /row -->

    </div><!-- /main -->

  </div><!-- /container -->


  <footer class="b-footer-wrap">
    <div class="container">
      <div class="row">

        <div class="col-xs-3">
          <ul class="footer-link-list footer-link-list--light">
            <li><a href="#">Запчасти Китайских Авто</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Филиалы</a></li>
            <li><a href="#">Доставка и оплата</a></li>
          </ul>
        </div><!-- /col -->

        <div class="col-xs-3">
          <ul class="footer-link-list">
            <li><a href="#">Запчасти Китайских Авто</a></li>
            <li><a href="#">Chery (Чери), Vortex (Вортекс)</a></li>
            <li><a href="#">Great Wall (Грейт Волл)</a></li>
            <li><a href="#">Geely (Джили)</a></li>
            <li><a href="#">Geely (Джили)</a></li>
            <li><a href="#">BYD (Бад) 223</a></li>
            <li><a href="#">Lifan (Лифан)</a></li>
            <li><a href="#">Hafei (Хафей)</a></li>
            <li><a href="#">FAW (ФАВ) 155</a></li>
            <li><a href="#">Iran Khodro Samand (Саманд)</a></li>
            <li><a href="#">ZX Auto</a></li>
            <li><a href="#">SMA Maple</a></li>
          </ul>
        </div><!-- /col -->

        <div class="col-xs-3">
          <ul class="footer-link-list">
            <li><a href="#">Запчасти Китайских Авто</a></li>
            <li><a href="#">Chery (Чери), Vortex (Вортекс)</a></li>
            <li><a href="#">Great Wall (Грейт Волл)</a></li>
            <li><a href="#">Geely (Джили)</a></li>
            <li><a href="#">Geely (Джили)</a></li>
            <li><a href="#">BYD (Бад) 223</a></li>
            <li><a href="#">Lifan (Лифан)</a></li>
            <li><a href="#">Hafei (Хафей)</a></li>
            <li><a href="#">FAW (ФАВ) 155</a></li>
            <li><a href="#">Iran Khodro Samand (Саманд)</a></li>
            <li><a href="#">ZX Auto</a></li>
            <li><a href="#">SMA Maple</a></li>
          </ul>
        </div><!-- /col -->

        <div class="col-xs-3">
          <ul class="footer-link-list">
            <li><a href="#">Запчасти Китайских Авто</a></li>
            <li><a href="#">Chery (Чери), Vortex (Вортекс)</a></li>
            <li><a href="#">Great Wall (Грейт Волл)</a></li>
            <li><a href="#">Geely (Джили)</a></li>
            <li><a href="#">Geely (Джили)</a></li>
            <li><a href="#">BYD (Бад) 223</a></li>
            <li><a href="#">Lifan (Лифан)</a></li>
            <li><a href="#">Hafei (Хафей)</a></li>
            <li><a href="#">FAW (ФАВ) 155</a></li>
            <li><a href="#">Iran Khodro Samand (Саманд)</a></li>
            <li><a href="#">ZX Auto</a></li>
            <li><a href="#">SMA Maple</a></li>
          </ul>
        </div><!-- /col -->

      </div><!-- /row -->
    </div><!-- /container -->

    <div class="b-footer">
      <div class="container">

        <!-- Callback -->
        <div class="b-footer__item b-footer__item--callback">
          <button type="button" class="callback"><span>Заказать звонок</span></button>
        </div>

        <!-- Phones -->
        <div class="b-footer__item b-footer__item--phones">

          <ul class="phones-horizontal-list">
            <li class="has-icon invert">
              <div class="number">8 (800) 500-21-16</div>
              <div class="target">Звонок бесплатный</div>
            </li>
            <li>
              <div class="number">8 (927) 039-11-84</div>
              <div class="target">Александр</div>
            </li>
            <li>
              <div class="number">8 (927) 033-77-77</div>
              <div class="target">Владимир</div>
            </li>
          </ul>

        </div>

        <div class="b-footer__item b-footer__item--counters">
          <ul class="counters-list">
            <li><img src="../assets/images/tmp/counter.jpg" alt=""/></li>
            <li><img src="../assets/images/tmp/counter.jpg" alt=""/></li>
          </ul>
        </div>

      </div><!-- /container -->
    </div>

  </footer>
</div><!-- /root -->

<!-- Vendor Scripts -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>

<!-- Bootstrap -->
<script src="../bower_components/bootstrap/js/transition.js"></script>
<script src="../bower_components/bootstrap/js/collapse.js"></script>
<script src="../bower_components/angular-strap/dist/modules/dimensions.js"></script>
<script src="../bower_components/angular-strap/dist/modules/tooltip.js"></script>
<script src="../bower_components/angular-strap/dist/modules/tooltip.tpl.js"></script>
<script src="../bower_components/angular-strap/dist/modules/popover.js"></script>
<script src="../bower_components/angular-strap/dist/modules/popover.tpl.js"></script>

<!-- Other Plugins -->
<script src="../bower_components/flexslider/jquery.flexslider.js"></script>

<!-- Custom Scripts -->
<script src="../assets/javascripts/application.js"></script>
<script src="../assets/javascripts/controllers/BaseController.js"></script>
<script src="../assets/javascripts/controllers/ExtendedSearchController.js"></script>
<script src="../assets/javascripts/controllers/FancySelectController.js"></script>
<script src="../assets/javascripts/directives/flexslider.js"></script>
</body>
</html>
