
.breadcrumbs
  +reset-list-style
  +clearfix
  margin:
    left: 0
    bottom: 0

  li
    float: left
    &:after
      content: "›"
      padding: 0 8px
      color: $brand-color

    &:last-child:after
      display: none
  a
    color: #999

    &:hover
      text-decoration: underline