
.b-spare-card
  display: table
  width: 100%
  //---
  border-radius: $border-radius-base
  border: 1px solid $base-ui-color

  &__item
    display: table-cell
    vertical-align: top
    padding: 9px
    //---
    border-right: 1px solid $base-ui-color
    &:last-child
      border-right: 0

    &--base

    &--meta
      padding:
        left: $base-spacing-unit
        right: $base-spacing-unit
      width: 165px
      color: #666

.validity
  margin:
    top: -3px
    bottom: 7px
  color: #666
  +font-size(12px, false)


.b-price
  white-space: nowrap

  &__val
  &__cur
    font-style: italic

  &--current
    color: $brand-color
  &--current &__val
    font-size: em(24px)
    line-height: 1.1
    font-weight: bold
  &--current &__cur
    font-size: em(16px)

  &--old
    color: #999
    text-decoration: line-through
  &--old &__val
    font-size: em(13px)
    line-height: (17 / 13)
  &--old &__cur
    font-size: em(12px)


.b-spare-detail
  +clearfix

  &--full &__media
    width: 320px
    margin-right: $base-spacing-unit

  &__media
    float: left
    margin-right: 16px
    width: 160px

    &__image
      max-width: 100%
      display: block


  &__body
    overflow: hidden

  &__heading
    margin-bottom: 3px
    //---
    +font-size(16px, false)
    line-height: (20 / 16)
    font-weight: bold

    a:hover
      color: $brand-color

  &__meta
    color: #999
    +font-size(13px, false)
    line-height: (18 / 13)

  &__text
    margin-top: .8em
    //---
    +font-size(13px, false)
    line-height: (17 / 13)