
.b-city-select
  width: 224px
  padding: $half-spacing-unit 0 0
  //---
  border: 1px solid #d0cfcb
  background: #fff
  border-radius: 5px
  +box-shadow(0 0 3px rgba(0, 0, 0, .15))

  &--abs
    position: absolute
    left: 0
    z-index: 999

  &__form
    padding: 0 $half-spacing-unit

  &__wrapper
    max-height: 250px
    overflow-y: auto
    margin-top: $half-spacing-unit

  &__list
    &, ul
      +reset-list-style
      margin: 0

    +font-size(13px, false)
    line-height: (16 / 13)
    color: #666

    li
      margin-top: .3em

    b
      padding: 0 0 0 $half-spacing-unit

    a
      display: block
      padding: 0 0 0 $base-spacing-unit
      //---
      +font-size(13px, false)
      line-height: ( 22 / 13 )
      color: #666

      &:hover
        background: #f7f6f2
