
.b-footer
  +clearfix
  padding: 24px 0
  border-top: 1px solid #4f5558

  &-wrap
    margin-top: 164px
    padding-top: 30px
    //---
    background: #25282a
    color: #dcdbd7

  &__item
    float: left

    &--callback
      margin:
        right: 52px

    &--phones
      margin-top: 9px
      width: 467px

    &--counters
      margin-top: 10px
      float: right