
.b-header
  +clearfix

  &-wrapper
    background: #f7f6f2
    padding: 19px 0 15px

  &__item
    float: left

    &--logo
      width: 220px
      margin-right: 29px

    &--phones
      padding: 9px 0 0 0
      width: 467px

    &--callback
      margin-top: 2px
      float: right
