
.matrix
  +reset-list-style()
  margin:
    left: -$half-spacing-unit
    right: -$half-spacing-unit
    bottom: 0
  font-size: 0

  & > li
    display: inline-block
    vertical-align: top
    margin-bottom: $base-spacing-unit
    padding: 0 $half-spacing-unit
    //---
    +font-size($base-font-size, false)

  &--two
    & > li
      width: percentage(1/2)
  &--three
    & > li
      width: percentage(1/3)
  &--six
    & > li
      width: percentage(1/6)
