

.b-pagination
  +clearfix
  +font-size(13px, false)
  line-height: (28 / 13)
  color: #666

  &__pages
    float: left

  &__limit
    float: right
    white-space: nowrap


  &__label
    display: inline-block
    vertical-align: middle
    margin-right: .6em
    //---

    &--light
      color: #999

  &__list
    display: inline-block
    vertical-align: middle

    &--limit
      +inline-list-setup($gutter: 5px)

    &--pages
      +inline-list-setup($gutter: 2px)
      a
        text-decoration: underline
      li.active a
        text-decoration: none

    a
      display: block
      padding: 0 7px
      min-width: 28px
      //---
      text-align: center
      border-radius: $border-radius-base
      color: inherit

    li.active
      a
        background: #eeac56
        color: #fff
        font-weight: bold