
.nav-toggle
  padding: 0
  width: 100%
  height: 38px
  border: 0
  //---
  border-radius: 2px
  background: #a31012
  text-align: center
  +font-size(16px, false)
  line-height: (38 / 16)
  font-weight: bold
  color: #fff

  .icon-bar
    float: right
    margin: 12px 11px 0 0
    span
      display: block
      margin-bottom: 4px
      width: 19px
      height: 2px
      background: #fff

  &:focus
    outline: 0


.b-primary
  +box-shadow(0 2px 7px rgba(0,0,0,.5))


  // Position and Size
  position: absolute
  z-index: 999
  width: 220px

  &-root
    position: relative

  &-root &-nested
    display: none
    position: absolute
    top: 0
    left: 99%
    width: 282px

  &-root__item:hover &-nested
    display: block


  &-root

    &__target
      display: block
      padding:
        left: 17px
      height: 34px
      overflow: hidden
      //---
      +transition(all 300ms ease)

      border: 1px solid #d0cfcb
      border-bottom-width: 0
      background: #f7f6f3

      white-space: nowrap
      text-overflow: ellipsis
      +font-size(14px, false)
      line-height: (34 / 14)
      font-weight: bold
      color: inherit

    &__item:hover &__target
      background: #dcdbd7

    &__item:last-child &__target
      border-bottom-width: 1px


  &-nested
    padding: 23px 28px
    //---
    +box-shadow(0 2px 7px rgba(0,0,0,.5))
    background: #f6f6f2
    border: 1px solid #d0cfcb

    &__heading
      margin-bottom: em(16px)
      line-height: 1

    &__name
      display: block
      margin-right: - em(10px)
      overflow: hidden
      //---
      //white-space: nowrap
      text-overflow: ellipsis
      +font-size(24px, false)
      font-weight: bold
