
.pricing-table
  +reset-list-style
  margin: 0

  padding: 9px
  //---
  border-radius: $border-radius-base
  border: 1px solid $base-ui-color

  &__media

  &__image
    display: block
    width: auto
    max-width: 100%

  &__heading
    margin: .3em 0
    //---
    +font-size(13px, false)
    line-height: (18 / 13)
    text-align: center

  &__price
    margin: .3em 0
    //---
    text-align: center

  &__button
    padding: 9px 30px 0
    margin: 0 -9px
    //---
    border-top: 1px solid $base-ui-color


.pricing-table-list
  +inline-list-setup($direction: left, $gutter: 30px)

  &__item
    margin-bottom: $base-spacing-unit
    width: 180px
