
.b-qty-switcher
  display: inline-block
  vertical-align: baseline
  padding: 5px
  //---
  white-space: nowrap
  border-radius: 4px
  border: 1px solid #dcdbd7
  line-height: 0

  &__btn
    display: inline-block
    vertical-align: middle
    width: 23px
    height: 21px
    //---
    border-radius: 2px
    background: #dcdbd7
    color: #fff

    text-align: center
    +font-size(18px, false)
    line-height: 1.2

    cursor: pointer

    &:hover
      background: #c4c3c1

  &__value
    display: inline-block
    vertical-align: middle
    width: 23px
    height: 21px
    //---
    text-align: center
    line-height: (21 / 14)
