
.b-ribbon
  position: relative
  display: block

  &:after,
  &:before
    content: ""
    display: block
    position: absolute
    left: -4px
    top: -4px

  &--new:after
    +sprite('ribbon-new')
  &--star:before
    +sprite('ribbon-star')
  &--sale:after
    +sprite('ribbon-sale')
