
.error-tooltip
  position: absolute
  height: 100%
  left: 100%
  top: 0

  &:after
    content: ""
    display: inline-block
    vertical-align: middle
    height: 100%

  &:before
    content: ""
    position: absolute
    top: 50%
    left: -5px
    margin-top: -5px

    width: 0
    height: 0
    border-style: solid
    border-width: 5px 5px 5px 0
    border-color: transparent #eb3b3e transparent transparent


  &__text
    display: inline-block
    vertical-align: middle
    min-width: 140px
    padding: 5px 3px 5px 9px

    //---
    border-radius: 2px
    background: #eb3b3d
    color: #fff

    +font-size(11px, false)
    line-height: (13 / 11)

  &--md &__text
    width: 260px
