
.b-topbar
  $item-gutter: 5px
  +inline-list-setup($gutter: $item-gutter)
  height: 38px

  &__item
    height: 100%
    &--nav
      width: 220px

    &--search
      width: 460px

    &--login
      width: 120px

    &--cart
      width: 110px
